@charset "utf-8";

#gnb>li>a:hover, 
#gnb>li>a:focus, 
#gnb>li.active>a,
#gnb>li.on>a {
	border-top:none;
	border-bottom:3px solid #534235 ; 
    color: #534235;
}
#gnb .lnb li a:hover, {
	color: #534235;
	text-decoration: underline;
}
.gnb_utill .sitemap_utill {
    background: url(../../images/main/hamberg_btn.png) center center no-repeat;
    background-size: 26px;
}
.gnb_utill .search_utill {
    background: url(../../images/main/search_btn.png) center center no-repeat;
    background-size: 27px;
    margin: 0 15px 0 0;
}
.w-search .w-search-cont input {
    height: 58px;
    border: 1px solid #adb4bb;
    vertical-align: top;
    margin: 0 0 0 -2px;
    font-size: 1.8rem;
    text-indent: 20px;
    border-radius: 58px;
    color: #555;
    max-width: 712px;
    width: 100%;
}
.w-search .w-search-cont button {
    background: url(../../images/main/search_blue_btn.png) center center no-repeat;
    background-size: 30px;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
    left: auto;
    top: 7px;
}
.contentHeader {
    padding-bottom: 20px;
    text-align: right;
}
#subwrapper {
    padding-left: 340px;
    min-height: 860px;
}
.submenupan {
    margin-left: -340px;
    width: 270px;
    background: #ccc;
}
.submenulayer {
    width: 270px;
}
.contentHeader h2 {
    font-size: 28px;
    font-weight: 500;
    color: #312d29;
    display: inline;
    padding: 0;
    float: left;
    margin-top: 16px;
}
.breadcrumblayer {
    width: auto;
    display: inline-block;
    margin: 0;
    background: none;
    border: none;
    clear: left;
    vertical-align: bottom;
}
.breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #312d29;
}
.breadcrumb > li:first-child {
    width: 30px;
    height: 20px;
    background: url(../../images/sub/path_home.png) left -6px no-repeat;
    text-indent: -9999px;
    vertical-align: middle;
    text-align:left;
}
.breadcrumb > .active {
    color: #312d29;
    font-weight: 500;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ''!important;
    background: url(../../images/sub/path_root.png) center center no-repeat;
    vertical-align: middle;
    margin: -2px 8px 0 8px;
    height: 14px;
    display: inline-block;
}
.breadcrumblayer .container {
    width: auto;    
    padding: 0;

}
.breadcrumblayer .container .breadcrumb {
    padding:2px 10px 2px 0;
    border-right:1px solid #ddd;
}
.btn-sns-group {
    border:none;
    float:none!important;
    vertical-align: bottom;
}
.btn-twitter:after, .btn-twitter:after, .btn-kakao:after, .btn-naver:after, .btn-daum:after, .btn-url:after {
    content: none;
}
.btn-sns-group .sns-btns button{
    width:30px;
    height:28px;
    margin-bottom:10px;
}
.btn-twitter,
.btn-twitter:hover {
    background: url(../../images/sub/sns_twitter.png) no-repeat center center;
}
.btn-kakao,
.btn-kakao:hover {
    background: url(../../images/sub/sns_talk.png) no-repeat center center;
}
.btn-naver,
.btn-naver:hover {
    background: url(../../images/sub/sns_blog.png) no-repeat center center;
}
.btn-url,
.btn-url:hover {
    background-color:#ededed;

}
.sns-btns{
    height: 0;
    overflow: hidden;
    position: absolute;
    transition:all .2s;
    width:38px;    
    border-radius: 6px;
    padding: 0 4px;
    margin-top: 0;
    background: #fff;
}
.sns-btns.on{
    height: auto;
    padding: 4px 4px 0 4px;
    border: 1px solid #ddd;
    z-index: 1;
    left: 8px;
    margin-top: -38px;
}
.btn-sns-group > a{
    width:38px;
    height:38px;
    display:inline-block;
    border:1px solid #d2d2d2;
    border-radius: 6px;
    text-indent:9999px;
    font-size:0;
    margin: 0 0 0 8px;
}
.btn-sns-group > a.sns-btn-share{
    background: url(../../images/sub/sns_share.png) center center no-repeat;
}
.btn-sns-group > a.sns-btn-print{
    background: url(../../images/sub/btn_print.png) center center no-repeat;
}
.btn-sns-group > a.sns-btn-rss{
    background: url(../../images/sub/btn_rss.png) center center no-repeat;
}
.councilorBox {
    position: relative;
    height: auto !important;
    min-height: 532px;
    padding: 354px 20px 0 !important;
    background: #534235 !important;
    border-radius: 10px 10px 0 0;
}
.councilorPic {
    padding: 36px 25px 68px 25px;
    background-color: #675547;
    border-radius: 10px 10px 0 0;
}
.councilorPic img {
    width: 201px !important;
    height: 250px !important;
    max-width: 201px !important;
    max-height: 250px !important;
}
.counsilor-list .counsilorname {
    position: absolute;
    top: 302px;
    width: 270px;
    text-align: center;
    left: 0;
    font-size: 28px;
    font-weight: 400;
}
.counsilor-list p:not(.counsilorname){
    color: #fff;
    font-size: 16px;
    padding: 11px 0 11px 11px;
    background:url(../../images/member/left_dotted.png) left bottom repeat-x;
    font-weight: 300;
}
.counsilor-list .counsilorname .cname_small {
    font-size: 20px;
    font-weight: 400;
}
.counsilor-list p strong{
    color: #a39285;
    font-size: 16px;
    
}
.counsilorparty{
    margin: 15px 0 0 0;
}
.councilorBox p:last-child{
    background: none;
}
.councilorSnsgroup {
    padding: 20px 0;
    border-top: 1px solid #fff;
    margin-top: 10px;
}
.submenulist .active {
    background: none;
    color: #333;
    font-weight: 400;
}
.submenulist {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-radius: 0 0 10px 10px;
    border: 1px solid #ddd;
    border-top: none;
}
.submenulist li {
    padding: 14px 20px;
    font-size: 16px;
    color: #545454;
}
.submenulist li:last-child{
    border-bottom:none;
}
.foot-link{
	display:flex;
	justify-content: space-between;
	    position: relative;
}
.foot-link .select-custom{
    width: 25%;
    text-align: center;
    line-height: 50px;
    border-right: none;
    height: 54px;
    color: #fff!important;
    position: relative;
    background: none;
    border:none;
}
/*
.foot-link .select-custom:before{
    content:'';
    display: block;
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
    height: 30px;
    background: #3f362d;
}*/
.foot-link .select-custom:focus-visible{
   outline:none;border-style:solid;border-width:3px 3px 3px 3px;border-color: #000000 #000000 #000000 #000000;
}
.foot-link .select-custom.on{
	background:#dfdfdf;
}
.foot-link-wrap{
    background: #766858;
}
.foot-link{
    background: #766858;
    border:none;
}
#footer #policy li{
	line-height:1;
}
#footer #policy li+li:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -1px 8px 0 20px;
    vertical-align: middle;
    background-color: #7e7e7e;
}
.foot-link .select-custom:after {
    content: '';
    width: 18px;
    height: 18px;
    position: relative;
    background: url(../../images/main/w-arrow.png) no-repeat;
    opacity:0.5;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 12px;
    transform: none;
}
.foot-link .select-custom.on{
    color:#000!important;
    background:#fff;
    border-bottom: 1px solid #ddd;
}
.foot-link .select-custom.on:after {
    background: url(../../images/main/b-arrow.png) no-repeat;
    opacity:1;
    transform: none;
}
.foot-link .select-view{
	display:none;
}
.foot-link .select-view.on{
    display: flex;
    position: absolute;
    bottom: 53px;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid #ddd;
	padding: 25px;
	    z-index: 2;
		width: calc(100% + 1px);
}
.foot-link .select-view li {
	    width: 25%;
}
.foot-link .select-view li a{
	    display: block;
    padding: 3px 0;
}
#footer .footer-top .inner {
    text-align: left;
	display:flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}
#footer .address {
    text-align: left;
}
#footer .wa-mark {
    right: 0;
	top: -5px;
}
#footer .sns-list {
    padding: 0;
}
#footer #policy li a,
#footer #policy li a strong {
    font-size: 14px;
	font-weight:400;
	color:#484848;
	margin: 6px 0 13px 0;
    display: inline-block;
}
#footer .address p, #footer .address p>span {
    color: #484848;
    font-weight: 300;
    font-size: 1.4rem;
    float: none;
    line-height: 1.4;
    margin-bottom: 0;
	display:inline-block;
}
#footer {
    padding: 0 0 20px 0;
	    margin:40px -15px 0 -15px;
}
#footer .footer-top .inner:after{
	content:none;
}

@media only all and (min-width: 1400px){
    .top-nav-holder, 
    #header .inner{
        max-width: 1760px;
        padding:0 20px;
    }
    #content .inner, 
    #footer .inner, 
    #main-banner section, 
    #main-area section, 
    #main-media section, 
    #main-bnr section, .foot-link {
        max-width: 1400px;
    }
}

@media (min-width: 992px){

    .btn-sns-group.btn-group {
        position: relative;
        right: auto;
        top: auto;
    }
}


@media only all and (max-width: 991px){
    #subwrapper {
        padding-left: 0;
    }
    .contentpan {
        padding: 0 10px;
    }
    .contentHeader {
        text-align: left;
        padding: 0;
        padding-bottom: 6px;
        margin: 25px 15px 0 15px;
    }
    .contentHeader h2 {
        display: block;
        float: none;
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: 400;
    }
    .btn-sns-group {
        float: right!important;
        margin: -28px 0 0 0;
    }
    .breadcrumblayer .container .breadcrumb {
        border-right:none;
    }
    .breadcrumb > li {
        font-size: 13px;
    }
    .sns-btns{
         z-index: 1;
    }
    .btn-sns-group .sns-btns button{
        display:block!important;
       
    }
    .btn-sns-group > a.sns-btn-print{
        display:none;
    }
    #footer {
        padding: 40px 0 20px 0;
        margin: 0;
    }
    #footer #policy li {
        margin: 0 3px 0 0;
    }
    .foot-link{
            display: flex;
        flex-wrap: wrap;
        border:none;
        padding: 0;
    }
    .foot-link .select-custom {
        width: 50%;
        text-align: center;
        border: 1px solid #ddd;
        border-left: none;
        border-bottom: none;
        line-height: 40px;
        font-size: 1.4rem!important;
        height: 42px;
    }
    .foot-link .select-custom:nth-child(1),
    .foot-link .select-custom:nth-child(5) {
        border-left:1px solid #ddd;
    }
    .foot-link .select-custom:nth-child(5),
    .foot-link .select-custom:nth-child(7) {
        border-bottom:1px solid #ddd;
    }
        #footer #policy {
        text-align: left;
        padding-left: 0;
    }
    #footer #policy li a, #footer #policy li a strong {
        font-size: 1.3rem;
            color: #484848;
        margin: 0;
            font-weight: 300;
    }	
        #footer .footer-top .inner {
        text-align: left;
        display: block;
            margin: 0 10px;
            padding: 0;
        }
    #footer .footer-top {
        padding: 20px 0 15px 0;
    }
    #footer .footer-top, #footer .sns-list {
        padding: 0 0 10px 0;
        border-top: none;
            margin: 0;
            text-align: left;
    }
        #footer #policy li+li:before{
            content:none;
        }
        
        .foot-link .select-view.on {
        display: flex;
        position: absolute;
        bottom: 84px;
        width: 100%;
        }
        .foot-link .select-view li {
        width: 50%;
    }
    .foot-link .select-view li a {
        display: block;
        padding: 6px 0;
        font-size: 1.4rem!important;
    }
    #footer .address p, #footer .address .copyright{
        text-align:left;
    }	
    #footer .address p,#footer .address p>span, #footer .address .copyright{
        text-align: left;
        margin: 0;
        line-height: 19px;
            font-size: 13px;
        font-weight: 300;
            color: #484848;
    }
    #footer .address {
        padding: 10px 10px 0 10px;
    }
    .foot-link .select-custom:nth-child(3), .foot-link .select-custom:nth-child(4) {
        margin-top: 0;

}