@charset "utf-8";

.wordlistheader {
    position: relative;
}

.chart-wrap{
    border:1px solid #ddd;
    margin-bottom:20px
}
.chair-total{
    text-align: right;
}
.chair-total a{
    background: #3f3934;
    font-size: 1.6rem;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin: 20px 0 40px 0;
}
.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.highcharts-tooltip{
    font-size:12px;
}

input[type="number"] {
  min-width: 50px;
}


@media only all and (max-width: 991px){
  .highcharts-figure > div{
      height: 320px;
  }
  .wordListcontent .name {
    padding: 10px 0 10px 0;
  }
}