@charset "utf-8";

#subwrapper {
    padding-left: 330px;
}
#subTopMenu {    
    margin: 0;
    border:1px solid #eae1d9;
    border-top: none!important;
}
.subcontent_body {
    padding: 95px 0 0 0;
}
.submenupan {
    margin-left: -330px;
    width:270px;
}
.submenuTitle {
    background: url(../../images/sub/bg_lnb.png) left top no-repeat!important;
    height: 140px!important;
}
.submenulayer {
    width: 270px;
}
.container.content_container {
    padding: 39px 0 0 0;
}
.submenuTitleText{
    width:100%;
}
.submenu1list{
    width:100%;
    padding: 0;
    padding-left: 0!important;
    position: relative;
    border-top: 1px solid #eae1d9!important;
}
.submenu1list.active{
    width:100%;
    padding-left: 0!important;
    padding:0;
}
.submenu2listRow{
    width:100%!important;
    background: #fff;
    margin: 0;
    padding: 0 15px !important;
}
.submenu2listRow li:last-child,
.submenu2listRow li:last-child.active{
    background:none!important;
}
.submenu1list>a{
    padding:11px 0 11px 25px;
    display:block;
}
.submenu1list.active, 
.submenu1list.active.off {
    background: #fff!important;
}
.submenulist .active{
    background:url(../../images/sub/left_dotted.png) bottom left repeat-x!important;
}
.submenulist li{
    background:url(../../images/sub/left_dotted.png) bottom left repeat-x;
}
.submenu1list a{
    font-size: 1.6rem;
    color: #545454!important;
}
.submenu1list.active a {
    color: #524b44!important;
    font-weight:400!important;
}
.submenu1list.active>a {
    font-size: 1.7rem;
    color: #8d6e50!important;
    font-weight: 500!important;
}
.submenu2list {
    padding: 10px 6px !important;
    position:relative;
}
.submenu2list.active a {
    color: #8d6e50!important;
}
.submenu2list.active a:after {
    content:'';
    display:block;
    background:url(../../images/sub/left_bullet.png) left -17px repeat-x;
    width: 17px;
    height: 17px; 
    position:absolute;
    right:5px;
    top:10px;
}
.submenu1list.active .glyphicon-menu-up:before,
.submenu1list .glyphicon-menu-up:before{
    background:url(../../images/sub/left_bullet.png) left top repeat-x;
    width: 17px;
    height: 17px;   
}
.submenu1list.off .glyphicon-menu-down:before {
    background:url(../../images/sub/left_bullet.png) left -34px repeat-x;
    width: 17px;
    height: 17px;
    margin: 0;
    right: 0;
}
.submenu1list.off .glyphicon-menu-down:after{
    content:none;
}
.submenu2listRowA {
    padding-left: 25px!important;
    font-size: 1.5rem!important;
}
.submenu2list a:before{
    content:none;
}
.glyphicon {
    position: absolute;
    right:15px;
    top: 13px;
    cursor:pointer;
}


.breadcrumblayer {
    width: auto;
    display: inline-block;
    margin: 0;
    background: none;
    border: none;
    clear:left;
    vertical-align: bottom;
}
.breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #312d29;
}
.breadcrumb > li:first-child {
    width: 30px;
    height: 20px;
    background: url(../../images/sub/path_home.png) left -6px no-repeat;
    text-indent: -9999px;
    vertical-align: middle;
    text-align:left;
}
.breadcrumb > .active {
    color: #312d29;
    font-weight: 500;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: '';
    background: url(../../images/sub/path_root.png) center center no-repeat;
    vertical-align: middle;
    margin: -2px 8px 0 8px;
    height: 14px;
    display: inline-block;
}
.breadcrumblayer .container {
    width: auto;    
    padding: 0;

}
.breadcrumblayer .container .breadcrumb {
    padding:2px 10px 2px 0;
    border-right:1px solid #ddd;
}
.contentHeader {
    padding-bottom: 20px;
    text-align: right;
}
.contentHeader h2 {
    font-size: 28px;
    font-weight: 500;
    color: #312d29;
    display: inline;
    padding: 0;
    float: left;
    margin-top:16px;
}
.btn-sns-group {
    border:none;
    float:none!important;
    vertical-align: bottom;
}
.btn-twitter:after, .btn-twitter:after, .btn-kakao:after, .btn-naver:after, .btn-daum:after, .btn-url:after {
    content: none;
}
.btn-sns-group .sns-btns button{
    width:30px;
    height:28px;
    margin-bottom:10px;
}
.btn-twitter,
.btn-twitter:hover {
    background: url(../../images/sub/sns_twitter.png) no-repeat center center;
}
.btn-kakao,
.btn-kakao:hover {
    background: url(../../images/sub/sns_talk.png) no-repeat center center;
}
.btn-naver,
.btn-naver:hover {
    background: url(../../images/sub/sns_blog.png) no-repeat center center;
}
.btn-url,
.btn-url:hover {
    background-color:#ededed;

}
.sns-btns{
    height: 0;
    overflow: hidden;
    position: absolute;
    transition:all .2s;
    width:38px;    
    border-radius: 6px;
    padding: 0 4px;
    margin-top: 0;
    background: #fff;
}
.sns-btns.on{
    height: auto;
    padding: 4px 4px 0 4px;
    border: 1px solid #ddd;
    z-index: 1;
    left: 8px;
    margin-top: -38px;
}
.btn-sns-group > a{
    width:38px;
    height:38px;
    display:inline-block;
    border:1px solid #d2d2d2;
    border-radius: 6px;
    text-indent:9999px;
    font-size:0;
    margin: 0 0 0 8px;
}
.btn-sns-group > a.sns-btn-share{
    background: url(../../images/sub/sns_share.png) center center no-repeat;
}
.btn-sns-group > a.sns-btn-print{
    background: url(../../images/sub/btn_print.png) center center no-repeat;
}
.btn-sns-group > a.sns-btn-rss{
    background: url(../../images/sub/btn_rss.png) center center no-repeat;
}
#satisfy-container {
    height: 200px;
    max-width: 1200px;
    margin: auto;
    padding-left: 330px;
}
#satisfy-container .satisfy {
    border-top: 1px solid #907967;
    border-bottom: 1px solid #907967;
}
#satisfy-container .satisfy .department-info {
    text-align: left;
    font-size: 16px;
    color: #313131;
    background: #f9f3ee;
    line-height: 50px;
    max-width: 990px;
    margin-left: auto;
    padding-left: 28px;
    font-weight: 500;
}
#satisfy-container .satisfy dt {
    font-size: 16px;
    margin: 15px 0 17px 0;
    font-weight: 500;
    color: #161616;
}
#satisfy-container .satisfy dl {
    padding: 0 0 0 25px;
    margin: 20px 5px;
}
#satisfy-container .satisfy dt:before{
    content:none;
}
#satisfy-container .satisfy dd label:before{
    content:none;
}
#satisfy-container .satisfy dd label {
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}
#satisfy-container .satisfy dd input {
    margin: 0 10px 0 0;
}
#satisfy-container .satisfy button {
    background: #6a5342;
    color: #fff;
    font-size: 16px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: none;
    position: absolute;
    right: 18px;
    bottom: 18px;
}
#satisfy-container .satisfy .department-info .tel-info {
    margin-left: 10px;
    color: #6a5342;
    font-size: 1em;
    float: right;
    margin-right: 15px;
}
#satisfy-container .satisfy .department-info strong{
    font-weight: 500;
}
#satisfy-container .satisfy .department-info b {
    font-weight: 500;
}
#satisfy-container .satisfy .department-info .tel:before{
    content: none;
}
#satisfy-container .satisfy .department-info .tel {
    margin: 0 0 0 10px;
}
.layer-pop{
    position:fixed;
    width:100%;
    height: 100%;    
    background:rgba(0,0,0,0.5);
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.layer-pop .layer-wrap{
    position:relative;
    background:#fff;
}
.layer-header h1{
    font-size: 16px;
    background: #605048;
    line-height: 50px;
    padding:0 0 0 10px;
    color:#fff;
}
.layer-contents h2{
    font-size: 16px;
    color:#201d1c;
    font-weight:400;
    padding-bottom:12px;
    margin-bottom:12px;
    border-bottom: 1px solid #776359;
    margin-top:20px;
}
.layer-contents h2:before{
    content:'';
    display:inline-block;
    width: 8px;
    height: 8px;
    background:#794f3a;
    border-radius: 4px;
    vertical-align: middle;
    margin: -3px 10px 0 0;
}
.layer-contents{
    padding:25px;
    overflow:scroll;
    height:680px;
}
.layer-close{
    width:26px;
    height: 36px;
    background: url(../../images/member/btn-close-w.png) center center no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    font-size: 0;
    display:block;
    position: absolute;
    right:10px;
    top: 7px;
}



@media only all and (max-width: 991px){
    #header {
        border-bottom: 1px solid #e4e7ee;
    }
    .container.content_container {
        padding: 0;
    }
    .subcontent_body {
        padding: 0;
        border-top:none;
    }
    #subwrapper {
        padding-left: 0;
    }
    .contentpan {
        padding: 0 10px;
    }
    .contentHeader {
        text-align: left;
        padding: 0;
        padding-bottom: 6px;
        margin: 25px 15px 0 15px;
    }
    .contentHeader h2 {
        display: block;
        float: none;
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: 400;
    }
    .btn-sns-group {
        float: right!important;
        margin: -28px 0 0 0;
    }
    .breadcrumblayer .container .breadcrumb {
        border-right:none;
    }
    .breadcrumb > li {
        font-size: 13px;
    }
    .sns-btns{
         z-index: 1;
    }
    .btn-sns-group .sns-btns button{
        display:block!important;
       
    }
    .btn-sns-group > a.sns-btn-print{
        display:none;
    }
    #satisfy-container {
        height: auto;
        max-width: 100%;
        margin: auto;
        padding-left: 0;
    }
    #satisfy-container .satisfy button {
        position: relative;
        right: 10px;
        bottom: 5px;
        font-size: 14px;
    }
    #satisfy-container .satisfy dl + div{
        text-align:right!important;
    }
    #satisfy-container .satisfy .department-info:after{
        content:'';
        display:block;
        clear:both;
    }
    #satisfy-container .satisfy .department-info {
        padding: 0 0 0 10px;
        font-size: 14px;
        line-height: 38px;
        font-weight: 400;
    }
    #satisfy-container .satisfy dl {
        padding: 0;
        margin: 20px 10px;
    }
    #satisfy-container .satisfy dt{
        font-size: 13px;
        font-weight: 400;
    }
    #satisfy-container .satisfy dd label{
        font-size: 13px;
    }
    #satisfy-container .satisfy .department-info strong,
    #satisfy-container .satisfy .department-info b{
        font-weight: 400;
    }
    .foot-link .select-custom:nth-child(3), .foot-link .select-custom:nth-child(4) {
        margin-top: 0;
    }
    .toTheTop .glyphicon.glyphicon-menu-up {
        right: 5px;
        top: 11px;
    }
    .highcharts-figure, .highcharts-data-table table {
        min-width: auto;
        max-width: auto;
        margin: 1em auto;
    }
    .chair-total a {
        margin: 0 0 25px 0;
    }
    .layer-pop {
        align-content: flex-start;
    }
    .layer-pop .layer-wrap{
        width:100%!important;
    }



}