@charset "utf-8";

.vicebody01 {
    padding-top: 30px;
}
.subchTab {
    height: 50px;
    border: 1px solid #9a8a7e;
    line-height: 46px;
    margin-left: -1px;
    font-size: 16px;
    background:#fff;
}
.subchTab.active {
    border-top: none;
    background: #615043;
    border-bottom: 0;
    color: #fff;
    font-weight: 500;
}
.greetingBody {
    font-size: 15px;
    padding: 0;
    margin-bottom: 100px;
}
.greetingBody:after {
    content:'';
    display:block;
    clear:both;
}
.sgreeting {
    color: #a2612e;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.8em;
    padding-top: 50px;
}
.greeting01 {
    color: #675547;
    font-size: 22px;
    line-height: 1.8em;
    word-break: keep-all;
    border-bottom:2px solid #d2ac8f;
    padding: 30px 0 25px 0;
}
.greetingBody .textbody {
    color: #3f3c39;
    font-size: 16px;
    margin-top: 30px;
}
.greetingBody .textbody01 {
    float: none;
    color: #675547;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 15px;
    line-height: 1.8em;
}
.vicesubtext {
    position: relative;
    top: 0;
    left: 0;
    background: none;
    padding-left: 0;
    padding-right: 30px;
    font-weight: 500;
    font-size: 22px;
    color: #3f3c39;
    display: block;
    margin-bottom: 10px;
}
.vicesubtext:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #d2ac8f;
    position: absolute;
    left: -16px;
    top: 12px;  
}
.viceimage-responsive01 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #3f3c39;
    padding-left: 70px;
}
.vicesubtext01 {
    padding-left: 0;
    background: none;
    font-size: 16px;
    color: #3f3c39;
}
.vicebody03 .sgreeting {
    padding-top: 30px;
}
.greeting_new {
    font-weight: 500;
    margin-top: 10px;
    line-height: 1.8;
    word-break: keep-all;
    font-size: 2.6rem;
    color: #675547;
    padding: 0 0 30px 0;
    border-bottom: 2px solid #d2ac8f;
    margin: 0 0 60px 0;
}
.greeting_new > img{
    margin: 0 0 20px 0;
}
.contentBodyPic02 {
    float: right;
    padding-top: 0;
    margin-left: 20px;
    position: relative;
    top: -40px;
}
.contentBodyPic03 {
    float: right;
    padding-top: 0;
    margin-left: 20px;
    position: relative;
    top: 10px;
}
.memberPic img, .chairmanPic img {
    width: 100%;
    height: auto;
}
.chairmanPic {
    float: none;
    padding: 0;
    width: 474px;
    height: 215px;
    background: none;
    margin: 0 auto;
}
.chairmanBox {
    background: none;
    margin:10px auto 50px auto;
    height: auto;
    width: 100%;
    position: relative;
}
.chairmanInfo {
    height: 160px;
    background: none;
    z-index: 100;
    position: absolute;
    top: 0;
    width: 470px;
    padding-left: 193px;
    left: 50%;
    margin-left: -235px;
}
.chairman .memberweb{
    margin:20px 0 0 0;
}
.chairman .memberweb a {
    color: #fff;
    font-size: 14px;
    background: #5d3f2a;
    border-radius: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 15px;
    font-weight: 300;
}
.subchairman .memberBox {
    background: none;
    border: 0;
    border-top: none;
    margin: 0;
}
.subchairman.leftbox {
    padding-right:5px;
    margin-bottom: 150px;
}
.subchairman.rightbox {
}
.memberPic {
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    z-index: 200;
}
.memberInfo {
    height: 160px;
    background: none;
    z-index: 100;
    position: absolute;
    top: 0;
    max-width: 470px;
    padding-left: 179px;
    left: 50%;
    margin-left: -225px;
}
.membername {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.membername strong{
    font-weight: 400;
    font-size: 18px;
}
.memberpart {
    font-size: 16px;
}
.subchairman .memberweb a {
    color: #fff;
    font-size: 14px;
    background: #8b5d3b;
    border-radius: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 15px;
    font-weight: 300;
}
.subchairman .memberweb{
    margin:20px 0 0 0;
    white-space: nowrap;
}
.chair-home{
    background:#5d5046;
    color:#fff!important;
    font-size:22px;
    display:block;
    padding:22px 0;
    text-align:center;
    border-radius:0 0 28px 28px;
    max-width: 381px;
}
.chair-home:before{
    content:'';
    display:inline-block;
    width:36px;
    height: 36px;
    background: url(../../images/member/chair_home.png) center center no-repeat;
    vertical-align: middle;
    margin: 0 15px 0 0;
}

@media (min-width: 992px){
    .vicebody02 {
        min-height: 604px;
        background: none;
        margin-right: 0;
    }
    .vicebody02 .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
        margin-top: 48px;
        
    }
    .vicebody02 .col-sm-6 .img-responsive{
        max-width: 100%;
    }
    
    
}

@media only all and (max-width: 1120px){
    .chairman {
        width: 100%;
        float: none;
    }
    .subchairman.leftbox,
    .subchairman.rightbox {
        padding-right: 0;
        margin-bottom: 150px;
        float: none;
        width: 474px;
        margin: 0 auto 20px auto;
        padding: 0;
    }
    .subchairman .memberBox {
        height: auto;
    }
    .memberPic {
        float: none;
    }
}

@media only all and (max-width: 991px){
    .subchairman.leftbox {
        padding-right: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    .chairmanBox {
        width: 100%;
        max-width:470px;
    }
    .chairman {
        float:none;
        padding: 0;
        background: url(../../images/member/photo_profile/org1_m.png) no-repeat;
        background-size: auto 100%;
        border-radius:3px;
        height: 209px;
        max-width:355px;
        margin:0 auto 30px auto;
        
    }
    .chairmanBox {
        margin: 10px auto 35px auto;
    }
    .chairmanPic {
        display:none;
    }   
    .membername {
        font-size: 16px;
        padding:0  0 0 140px;
        margin: 10px 0 10px 0;
    }
    .memberpart{
        padding:0 0 0 140px;
    }
    .memberarea{
        padding:0 0 0 140px;
    }
    .chairmanInfo {
        margin-left: 0;
        position: relative;
        left: 0;
        padding: 0;
        width:auto;
        padding-top: 20px;
    }
    .chairman .memberweb,
    .subchairman .memberweb {
        margin: 31px 0 0 0;
    }
    .chairman .membername {
        padding-top: 0;
    }
    .subchairman {
        float:none;
        width: auto;
        padding: 0;
        max-width:355px;
        margin:0 auto;
        height: 209px;
    }
    .subchairman.leftbox {
        padding: 0;
        background: url(../../images/member/photo_profile/org2_m.png) no-repeat;
        background-size: auto 100%;
        border-radius:3px;
    }
    .subchairman.rightbox {
        padding: 0;
        background: url(../../images/member/photo_profile/org3_m.png) no-repeat;
        background-size:auto 100%;
        border-radius:3px;
    }
    .memberInfo {
        height: auto;
        padding-top: 20px;
        padding-left: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }
    .memberPic {
        display:none;
    }
    .memberBox{
        height: auto;
    }
    
    .membername strong {
        font-size: 16px;
    }
    .memberpart {
        font-size: 13px;
    }
    .memberweb {
        display: block;        
        text-align: center;
        margin: 30px 0 0 0;
    }
    .contentpan {
        min-height: 500px;
        margin: 0 0 50px 0;
    }
    .greeting01{
        font-size: 14px;
        line-height: 1.5;
        padding: 18px 0 18px 0;
        border:none;
        width: 70%;
        position: absolute;
        top: 40px;
    }
    .sgreeting {
        font-size: 14px;
        line-height: 1.4em;
        padding-top: 6px;
        width:70%;
        position: absolute;
        top: 0;
        font-weight: 400;
    }
    .greetingBody .textbody {
        font-size: 13px;
    }
    .vicebody01 {
        padding-top: 0;
        position: relative;
    }
    .contentBodyPic03 {
        float: none;
        padding-top: 0;
        margin-left: 0;
        position: relative;
        top: 0;
        width: 100%;
        text-align: right;        
         z-index: -1;

    }
    .contentBodyPic03:after {
        content:'';
        display:block;
        width:100%;
        height:1px;
        border-bottom: 1px solid #d2ac8f;
    }
    .greeting01 br {
        display:none;
    }
    .greeting01 b {
        font-weight:400;
    }
    .contentBodyPic03 img{
        width: auto;
        height: 130px;
        margin: 15px 0 0 0;
    }
    .greetingBody .textbody {
        color: #3f3c39;
        font-size: 13px;
        margin-top: 18px;
    }
    .greetingBody .textbody01 {
        font-size: 18px;
    }
    .greetingBody {
        font-size: 15px;
        padding: 0;
        margin-bottom: 50px;
        clear: both;
    }
    .vicebody02 {
        padding-top: 0;
    }
    .vicebody02 .greetingBody {
        position: relative;
    }
    .vicebody02 .greeting01,
    .vicebody02 .sgreeting{
        position: relative;
        padding: 0;
        width: 100%;
        top: 0;
    }
    .vicebody02 .greeting01{
        border-bottom: 1px solid #d2ac8f;
        padding-bottom:20px;
    }
    .fselecttabBox {
        display:none!important;
    }
    .subchBox{
        display:block!important;
        margin:0 0 20px 0;
    }
    .subchBox:after {
        content:'';
        display:block;
        clear:both;
    }
    .subchTab {
        width: 50%;
        font-size: 12px;
        height: 36px;
        line-height: 36px;
    }
    .subchBox li:nth-child(1),
    .subchBox li:nth-child(2){
        border-bottom:none;
    }
    .chair-home {
        font-size: 12px;
        padding: 8px 0;
        border-radius: 0 0 18px 18px;
        max-width: 192px;
        margin:0 auto 20px auto;
    }
    .chair-home:before {
        width: 18px;
        height: 18px;
        background-size: 100%;
    }
    .vicebody02 .img-responsive,
    .vicebody01 .img-responsive{
        max-width: 192px;
        margin: 20px auto 0 auto;
    }
    .vicesubtext{
        font-size:15px;
        margin-bottom: 3px;
    }
    .viceimage-responsive01{
        font-size:12px;
        padding-left: 0;
        width:100%;
    }
    .vicesubtext01{
        font-size:12px;
        
    }
    .vicesubtext:before {
        width: 2px;
        height: 2px;
        left: -9px;
        top: 9px;
    }
    .contentBodyPic02 {
        padding-top: 0;
        margin-left: 20px;
        top: 0;
        width: 36%;
    }
    .greeting_new {
        margin-top: 10px;
        line-height: 1.8;
        font-size: 14px;
        padding:16px 0 17px 0;
        border-bottom: 1px solid #d2ac8f;
        margin: 0 0 60px 0;
        width: 64%;
        position: absolute;
        top: 0;
    }
    .greeting_new > img{
        width:74%;
        max-width:321px;
    }
    .contentBodyPic02 img {
        width: 100%;
        height: auto;
        max-width:233px;
    }
    .greeting_new + .textbody{
        padding: 15px 0 0 0;
    }

    /*.vicebody01 .greeting_new {
        position: relative;
        width: 100%;
        margin: 0 0 10px 0;
        padding: 10px 0 17px 0;
    }*/

}