@charset "utf-8";

.top-nav-holder{
    max-width: 1760px;
    padding:0 20px;
	height: 36px;
}
.top-nav {
    line-height: 36px;
    height: 36px;
    color: #fff;
    border-bottom: none;
    background: #64564b;
}
.top-nav .top-link,
.top-nav .top-link li, 
.top-nav .top-right-link li {
    border: none;
}
.top-nav .top-link li a {
    padding: 0 12px;
    font-size: 13px;
    color: #fff;
}
.top-nav .top-link li a:before{
	content:'';
	display:inline-block;
	width:2px;
	height:2px;
	background:#fff;
	vertical-align: middle;
    margin: 0 5px 0 0;
}
.top-nav .top-link li:first-child a:before{
	content:none;
}
#util {
    height: 36px;
    line-height: 36px;
}
#util .ico {
    background-color: #64564b; 
	border: 1px solid #fff;
	color: #fff;
	width: 31px;
    height: 30px;
}
#util>li a {
    color: #fff;
}
#util>li .btn-lang {
    padding: 0 25px 0 7px;
    color: #fff;
    background-position: right 17px;
    background: url(../../images/main/sb-arrow.png) no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 10.5px 6px;
}
#util .ico-zoom-reset {
    left: 30px;
}
#util .ico-zoom-out {
    right: auto;
    left: 60px;
}
#util .zoom {
    width: 92px;
    height: 32px;
}
#util>li.language {
    line-height: 36px;
}

#util .language ul li a {
    color: #333;
}


@media all and (max-width:1100px){

.top-nav .top-link li a {
    padding: 0 5px;
    font-size: 13px;
    color: #fff;
}

}