@charset "utf-8";

a:hover,
a:focus{text-decoration: none!important;}

.top-nav-holder,
#header .inner, 
#content .inner, 
#footer .inner, 
#main-banner section,
#main-area section,
#main-media section,
#main-bnr section,
.foot-link {
    max-width: 1400px;
}

#content {
    background: #fff;
	    padding: 95px 10px 0 10px;
}
.gnb_utill .sitemap_utill {
    background: url(../../images/main/hamberg_btn.png) center center no-repeat;
    background-size: 26px;
}
.gnb_utill .search_utill {
    background: url(../../images/main/search_btn.png) center center no-repeat;
    background-size: 27px;
    margin: 0 15px 0 0;
}
#logo {
    position: relative;
}
#header .inner{
	display: flex;
	justify-content: space-between;
    position: relative;
}
#header{
    position: absolute;
    width:100%;
    height: 95px;
    background:#fff;
}
#header.dim:after{
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:135px;
	background:rgba(0,0,0,0.4);
	z-index:-1;
}

#gnb {
    position: static;
    padding: 0;
    height: 95px;
    line-height: 95px;
    width: auto;
    margin-left: 60px;
    margin-right: 0;
    display: flex;
    justify-content:flex-end;
    width: calc(100% - 300px);
}
#gnb>li{
    padding:0 4.2% 0 3.6%;
}
.gnb_utill {
    position: relative;
    top: 23px;
    width: 110px;
    text-align: right;
    margin: 0;
    left: 0;
    right: 0;
}
#gnb .lnb {
    border-bottom: none;
    box-shadow:none;
    border-top: none;
    display: block;
    position: relative;
    width: 100%;
    left: auto;
    height: 0;
    overflow:hidden;
    padding:0;
    background:none;
    transition: all .1s;
    z-index: 100;
}
#gnb .lnb>ul>li{
    border:none;
    line-height: 32px;
    min-height: 32px;
}
#gnb .lnb>ul>li>a {
    font-size: 1.4rem;
    color:#5a4b41;
    line-height: 32px;
    position: absolute;
    white-space: nowrap;
}

#gnb .lnb>ul>li>a:before {
    content:'';
    display:inline-block;
    width: 2px;
    height: 2px;
    background: #bf9677;
}


#gnb ul{
	left:0;
	width: auto;
    margin:0;
    background:none;
}
#gnb>li{
	width: auto;
}

#gnb>li a{
	line-height: 91px;
    padding: 0;
    white-space: nowrap;
}
#gnb>li>a:hover, #gnb>li>a:focus, #gnb>li.active>a,#gnb>li.on>a {
	margin-top:0;
	border-top:none;
	border-bottom:none;
	color:#333;
}
#gnb .nav-tit {
    left: 40%;
}
#header.dim:before{
    content:'';
    background:#fff;
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
}
#header.dim .inner:before{
    content:'';
    background:#e5e7ee;
    width:100%;
    height:1px;
    position: fixed;
    left: 0;
    top: 131px;
}
#header.dim .inner:after{
    content: '';
    background: url(../../images/main/sub_bg.png) center 0 no-repeat;
    width: 273px;
    height: calc(100% - 145px);
    position: absolute;
    left: 0;
    top: 123px;
    border-right: 1px solid #ddd;
}
#header.dim,
#header.dim .inner,
#header.dim #gnb{
    height: auto;
    
}
#header.dim,
#header.dim .inner{
    background: #fff;
}
#header.dim #gnb .lnb {
    height: auto;
    overflow:visible;
    padding: 20px 0 30px 0;
}
.gnb_utill .search_utill {
    margin: 0;
}
.gnb_utill .search_utill.view {
    background:url(../../images/main/icons.png) -488px -354px no-repeat;
    background-size: auto;
}
.gnb_utill .sitemap_utill.view {
    background:url(../../images/main/icons.png) -492px -354px no-repeat;
    background-size: auto;
}
.w-search .w-search-cont {
    max-width: 712px;
	position:relative;
}
.w-search.on {
    width: 100%;
    left: 0;
    top: 94px;
	position: absolute;
    padding: 47px 0;
}
.w-search .w-search-cont input {
    height: 58px;
    border: 1px solid #997d6d;
    vertical-align: top;
    margin: 0 0 0 -2px;
    font-size: 1.8rem;
    text-indent: 20px;
    border-radius: 58px;
    color: #555;
    max-width: 712px;
    width: 100%;
}
.w-search .w-search-cont button{
background: url(../../images/main/search_blue_btn.png) center center no-repeat;
    background-size: 30px;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
    left: auto;
    top: 7px;
}
.foot-link{
	display:flex;
	justify-content: space-between;
	    position: relative;
}
.foot-link .select-custom{
    width: 25%;
    text-align: center;
    line-height: 50px;
    border-right: none;
    height: 54px;
    color: #fff!important;
    position: relative;
}
/*
.foot-link .select-custom:before{
    content:'';
    display: block;
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
    height: 30px;
    background: #3f362d;
}*/
.foot-link .select-custom:focus-visible{
   outline:none;border-style:solid;border-width:3px 3px 3px 3px;border-color: #000000 #000000 #000000 #000000;
}
.foot-link .select-custom.on{
	background:#dfdfdf;
}
.foot-link-wrap{
    background: #766858;
}
.foot-link{
    background: #766858;
}
#footer #policy li{
	line-height:1;
}
#footer #policy li+li:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -1px 8px 0 20px;
    vertical-align: middle;
    background-color: #7e7e7e;
}
.foot-link .select-custom:after {
    content: '';
    width: 18px;
    height: 18px;
    position: relative;
    background: url(../../images/main/w-arrow.png) no-repeat;
    opacity:0.5;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 12px;
}
.foot-link .select-custom:before {
    content: '';
    width: 1px;
    height: 31px;
    position: absolute;
    background: #a19485;
    display: block;
    left:0;
    top:12px;
}
.foot-link .select-custom.on:before {
    content:none;
}
.foot-link:after {
    width: 1px;
    height: 31px;
    position: absolute;
    background: #a19485;
    display: block;
    right:0;
    top:12px;
}
.foot-link .select-custom.on{
    color:#000!important;
    background:#fff;
    border-bottom: 1px solid #ddd;
}
.foot-link .select-custom.on:after {
    background: url(../../images/main/b-arrow.png) no-repeat;
    opacity:1;
}
.foot-link .select-view{
	display:none;
}
.foot-link .select-view.on{
    display: flex;
    position: absolute;
    bottom: 53px;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid #ddd;
	padding: 25px;
	    z-index: 2;
		width: calc(100% + 1px);
}
.foot-link .select-view li {
	    width: 25%;
}
.foot-link .select-view li a{
	    display: block;
    padding: 3px 0;
}
#footer .footer-top .inner {
    text-align: left;
	display:flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}
#footer .address {
    text-align: left;
}
#footer .wa-mark {
    right: 0;
	top: -5px;
}
#footer .sns-list {
    padding: 0;
}
#footer #policy li a,
#footer #policy li a strong {
    font-size: 14px;
	font-weight:400;
	color:#484848;
	margin: 6px 0 13px 0;
    display: inline-block;
}
#footer .address p, #footer .address p>span {
    color: #484848;
    font-weight: 300;
    font-size: 1.4rem;
    float: none;
    line-height: 1.4;
    margin-bottom: 0;
	display:inline-block;
}
#footer {
    padding: 0 0 20px 0;
	    margin: 40px 0 0 0;
}
#footer .footer-top .inner:after{
	content:none;
}
.sns-list a{
    display: inline-block;
     width: 34px;
    height: 34px;
    background: url(../../images/main/youtube_34.png) no-repeat;
	vertical-align: middle;
    margin: 0 10px 0 0;
}
.sns-list a.foot-facebook{
	background: url(../../images/main/facebook_34.png) no-repeat;
}
.sns-list a.foot-twitter{
	background: url(../../images/main/twitter_34.png) no-repeat;
}
.sns-list a.foot-naver{
	background: url(../../images/main/blog_34.png) no-repeat;
}
.sns-list a.foot-instagram{
	background: url(../../images/main/insta_34.png) no-repeat;
}
.menu-all ul li {
    display: inline-block;
    width: calc(26% - 5%);
    margin: 0 5% 60px 0;
    vertical-align: top;
}
.menu-all h2 {
    font-size: 2.0rem!important;    
    padding: 15px 0 15px 0;
    background: #fff;
	color: #17191d!important;
	border: 1px solid #a7afb6;
	border-radius: 10px;
	margin:0 0 10px 0
}

.menu-all ul li > a:first-child  {
    font-size: 2.4rem!important;    
    padding: 10px 0 15px 0;
    background: #fff;
	color: #65472a!important;
	border:none;
    border-bottom:2px solid #65472a;
	border-radius: 0;
	margin:0 0 10px 0;
    display: block;
}

.menu-all ul li dl dt{
    font-size: 1.8rem!important;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #d8d8d8;
	text-indent:20px;
}

.menu-all ul li dl dt a{
    font-size: 1.8rem!important;
    padding: 20px 0 10px 0;
    /* border-bottom: 1px solid #d8d8d8; */
	text-indent:20px;
    color:#3f3c39!important;
    font-weight:400;
}
.menu-all ul li dl dd {
	text-indent:20px;
}
/* .menu-all ul li dl dt a{
	font-weight:400;
} */

.m-ctrl button {float: left;width:24px; height:24px; border:none;margin: 0 0 0 3px!important;text-indent:-9999px; white-space:nowrap;overflow:hidden;position: relative;top: auto;background-color:transparent;}
.m-ctrl button:hover{transform:none!important;}
.m-ctrl .btn-prev {background-image:url(../../images/main/ctr_prev.png);}
.m-ctrl .btn-pause {background-image:url(../../images/main/ctr_pause.png);}
.m-ctrl .btn-play {display:none; background-image:url(../../images/main/ctr_play.png);}
.m-ctrl .btn-next {background-image:url(../../images/main/ctr_next.png);}
.btn-play.off:hover{background-image:url(../../images/main/ctr_play.png);}


.latest {position:relative; padding:0 12px; border:1px solid #dee3eb; }
.latest dl {overflow:hidden;}
.latest dt {float:left;}
.latest dt a {display:block; padding:0 7px; color:#757575; font-weight:300; font-size:1.6rem; line-height:50px;}
.latest dt.on a {margin:-1px -2px 0; color:#333; font-weight:600; line-height:51px; border-bottom:1px solid #333; font-size:1.7rem;}
.latest dt.on+dd {display:block;}
.latest dd {display:none; position:absolute;top: 80px; padding: 0 16px 0 16px;left:0; right:0;}
.latest dd ul {margin:7px 0; padding:0;}
.latest dd ul li {overflow:hidden;}
.latest dd ul li a {display:inline-block; max-width:calc(100% - 100px); padding:3px 0 4px; color:#757575; font-size:1.5rem; vertical-align:middle; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.latest dd ul li.new a {max-width:calc(100% - 120px); color:#333; font-weight:600;}
.latest .ico-new {width:17px; height:17px; margin:2px 0 0 4px; background-image:url(/images/main/ico-new.png);}



.latest {
	box-shadow:none;
	border-radius:10px;
	border:1px solid #d8d8d8;
	height: 360px;
}
.latest dd ul {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-evenly;
}
.latest .date {
    float: none;
    display: block;
	font-size: 16px;
	    color: #585858;
}
.latest dd ul li {
    padding: 5px 16px;
    border-right: 1px solid #ddd;
	width: 25%;
}
.latest dd ul li:last-child {
    border-right:none;
}
.latest dd ul li a {
    display: block;
    padding:3px 0 23px;
    color: #757575;
    font-size: 1.5rem;
    vertical-align: middle;
    text-overflow: inherit;
    white-space: normal;
    overflow: hidden;
	width: 100%;
    max-width: 100%;
}
.latest dd ul li a:hover, 
.latest dd ul li a:focus {text-decoration:none;}
.latest dd ul li a strong {
	    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 49px;
	height: 49px;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	margin:0 0 26px 0;
	font-size: 1.8rem;
    font-weight: 400;
	color: #252c3a;
}
.latest dt a {
    padding: 0 20px;
	    color: #757575;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 50px;
}
.latest dt.on a {
    font-size: 2.0rem;
	margin: 0;
	border-bottom: 2px solid #0056a7;
	color: #333;
    font-weight: 400;
    line-height: 51px;
}
.latest dt a:before {
    content:none;
}
.latest dt{
	margin:0;
}
.latest dd,
.latest dd ul li,
.latest dd ul li a:hover, 
.latest dd ul li a:focus {text-decoration:none;}
.latest dd ul li a span {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 46px;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	margin:0 0 26px 0;
	color: #585858;
	font-size: 16px;
}
.latest .btn-more{
    top: -32px;
	    right: 32px;
}
.mem-login-layer{
    position:fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.mem-login{
    max-width:437px;
    border:1px solid #cecece;
    width: 100%;
    text-align: center;
    padding: 50px 0 40px 0;
}
.mem-login h1{
    font-size:28px;
    color:#222;
    font-weight: 400;
}
.mem-login h2{
    font-size:20px;
    color:#494949;
    font-weight: 400;
}
.mem-login h2:before{
    content:'';
    display:block;
    width:114px;
    height:114px;
    background: url(../../images/common/login_img.png) no-repeat;
    margin:37px auto 15px auto;

}
.mem-login ul{
    margin:22px 0 0 0;
}
.mem-login ul li{
    padding:18px 36px 0 36px;
}
.mem-login ul li a{
    line-height:56px;
    text-align: center;
    display: block;
    border-radius: 56px;
    background:#ddd;
    font-size:18px;
    color:#fff;
}
.mem-login ul li a:before{
    content:'';
    display:inline-block;
    width:40px;
    height:40px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.mem-login ul li a.naver{
    background:#03cf5d;
}
.mem-login ul li a.naver:before{
    background:url(../../images/common/login_naver.png) center center no-repeat;
}
.mem-login ul li a.kakao{
    background:#ffe600;
    color:#392020;
}
.mem-login ul li a.kakao:before{
    background:url(../../images/common/login_kakao.png) center center no-repeat;
}
.mem-login ul li a.facebook{
    background:#445d98;
}
.mem-login ul li a.facebook:before{
    background:url(../../images/common/login_facebook.png) center center no-repeat;
}
.mem-login ul li a.twitter{
    background:#3199d5;
}
.mem-login ul li a.twitter:before{
    background:url(../../images/common/login_twitter.png) center center no-repeat;
}




@media only all and (min-width: 1400px){
    .top-nav-holder, 
    #header .inner{
        max-width: 1760px;
        padding:0 20px;
    }
    #content .inner, 
    #footer .inner, 
    #main-banner section, 
    #main-area section, 
    #main-media section, 
    #main-bnr section, .foot-link {
        max-width: 1400px;
    }
}




@media only all and (max-width: 991px){
	#mobile-header {
		height: 100%;
		z-index: 1000;
	}
    #header {
        height: 54px;
        padding: 4px 15px 0 5px;
        border-bottom: 1px solid #b5bcd2;
        position: relative;
    }
    .menu-all.on{
        display:none;
    }
	#gnb {
		display:none;
	}
	#mobile-header .mobile-menu-head {
		height: 50px;
		background-color: #64564b;
		    border-bottom: 1px solid #e5e7ee;
	}
	#mobile-header .btn-search-close {
		    top: -38px;
    right: 54px;
		background: url(../../images/main/btn-close.png) no-repeat center center;
		background-size: 28px 28px;
	}
	#mobile-header .mobile-search-head {
		height: 25px;
		padding: 0 20px;
		background-color: #fff;
	}
	#mobile-header .mobile-search-cont {
		padding: 0 15px 25px 24px;
		border-bottom: none;
		background-color: #fff;
	}
	#mobile-header .mobile-search-cont input {
    border: 1px solid #6b4528;
    width: 100%;
    border-radius: 40px;
    font-size: 1.4rem;
    height: 40px;
}
#mobile-header .mobile-search-cont .btn-search{
	position: absolute;
    right: 27px;
    top:28px;
    background: url(../../images/main/search_blue_btn.png) center center no-repeat;
    background-size: 24px;
}
#mobile-header .mobile-search{
	border-top: 1px solid #ddd;
}
#mobile-gnb>ul>li>ul>li.collapse>a:after {
    background: url(../../images/main/icons.png) -273px -124px no-repeat;
    background-size: 329px;
}
#mobile-gnb>ul>li>ul>li.collapse.on>a:after {
    background: url(../../images/main/icons.png) -294px -126px no-repeat;
    background-size: 329px;
    height: 15px;
}
#mobile-gnb>ul>li>ul {
    padding: 10px 0 0 0;
}
#mobile-gnb>ul>li>ul>li>a {
    margin: 0 15px;
    border-bottom: 1px solid #9d7b5b;
	color: #333;
    background: none;
    padding: 8px 0;
    font-size: 1.7rem;
    font-weight: 400;
}
#mobile-header .mobile-menu-area .btn-menu-close{
	text-indent: -9999px;
    background: url(../../images/main/icons.png) no-repeat -14px -126px;
    background-size: 340px;
}
.mobile-tab-group {
    background: #4c3e34;
    padding: 5px 0 0 0;
    display: none;
}
.mobile-tab-group li a {
    border-radius: 3px;
	    color: #4c3e34!important;
}
.mobile-link-group {
    background: #1d79cf;
    padding: 0 0 0 7px;
}

	#logo {
		position: absolute;
		top: 6px;
		left: 13px;
	}
	#logo a {
		margin-top: 4px;
		width: 120px;
		height:50px;
		background: url(../../images/main/logo_m.png) no-repeat;
		background-size: 100%;
	}
	#logo img{
		display:none;
	}
	#mobile-header .btn-mobile-search {
    background: url(../../images/member/search_btn.png) center center no-repeat;
    background-size: 24px;
}
#mobile-header .btn-mobile-menu {
    background: url(../../images/member/hamberg_btn.png) center center no-repeat;
    background-size: 24px;
	   
}
#mobile-header .mobile-util button{
	 text-indent: -9999px;
}
#mobile-header .btn-search-close {
    width: 26px;
    height: 27px;
	top: -41px;
    right: 56px;
    background:#fff url(../../images/member/btn-close.png) no-repeat center center;
    background-size: 28px 28px;
	z-index: 1;
}
#content {
    padding: 15px 10px 0 10px;
}
.modal-opened #mobile-header .btn-search-close {
background:#1d79cf  url(../../images/comt/icons.png) no-repeat -14px -126px;
    background-size: 340px;
}
	#mobile-header .mobile-menu-head #logo-mobile {
    width: 158px;
    height: 36px;
    background: url(../../images/main/logo_white_m.png) 10px 0 no-repeat;
    background-size: auto 100%;
	}
	.mobile-link-group .select-custom select {
    font-weight: 400;
}
	#logo-mobile img {
		display:none;
	}
	.mobile-link-group {
		background: #64564b;
		padding: 0 0 0 7px;
	}
	.mobile-link-group ul {
    margin: 0;
    padding: 5px 0 0 10px;
}
	.mobile-login {
		background: #64564b;
	}
	#mobile-header .mobile-menu-area:after {
		background: #f9f6f1;
	}
	#mobile-gnb>ul>li>a {
    color: #312d29!important;
	}
#footer {
    padding: 40px 0 20px 0;
	margin: 0;
}
#footer #policy li {
    margin: 0 3px 0 0;
}
.foot-link{
	    display: flex;
    flex-wrap: wrap;
	border:none;
	padding: 0;
}
.foot-link .select-custom {
    width: 50%;
    text-align: center;
    border: 1px solid #ddd;
	border-left: none;
	border-bottom: none;
    line-height: 40px;
    font-size: 1.4rem!important;
	height: 42px;
}
.foot-link .select-custom:nth-child(3), .foot-link .select-custom:nth-child(4) {
    margin-top:0;
}
.foot-link .select-custom:nth-child(1),
.foot-link .select-custom:nth-child(5) {
	border-left:1px solid #ddd;
}
.foot-link .select-custom:nth-child(5),
.foot-link .select-custom:nth-child(7) {
	border-bottom:1px solid #ddd;
}
.foot-link .select-custom:after,
.foot-link .select-custom:before {
    content:none;
}

	#footer #policy {
    text-align: left;
	padding-left: 0;
}
#footer #policy li a, #footer #policy li a strong {
    font-size: 1.3rem;
	    color: #484848;
    margin: 0;
	    font-weight: 300;
}	
	#footer .footer-top .inner {
    text-align: left;
    display: block;
	    margin: 0 10px;
		padding: 0;
	}
#footer .footer-top {
    padding: 20px 0 15px 0;
}
#footer .footer-top, #footer .sns-list {
    padding: 0 0 10px 0;
    border-top: none;
	    margin: 0;
	    text-align: left;
}
	#footer #policy li+li:before{
		content:none;
	}
	
	.foot-link .select-view.on {
    display: flex;
    position: absolute;
    bottom: 84px;
    width: 100%;
	}
	.foot-link .select-view li {
    width: 50%;
}
.foot-link .select-view li a {
    display: block;
    padding: 6px 0;
    font-size: 1.4rem!important;
}
#footer .address p, #footer .address .copyright{
	text-align:left;
}	
#footer .address p,#footer .address p>span, #footer .address .copyright{
    text-align: left;
    margin: 0;
    line-height: 19px;
	    font-size: 13px;
    font-weight: 300;
	    color: #484848;
}
#footer .address {
    padding: 10px 10px 0 10px;
}
.sns-list a{
     width: 32px;
    height: 32px;
    background: url(../../images/main/youtube_32.png) no-repeat;
    margin: 0 10px 0 0;
}
.sns-list a.foot-facebook{
	background: url(../../images/main/facebook_32.png) no-repeat;
}
.sns-list a.foot-twitter{
	background: url(../../images/main/twitter_32.png) no-repeat;
}
.sns-list a.foot-naver{
	background: url(../../images/main/blog_32.png) no-repeat;
}
.sns-list a.foot-instagram{
	background: url(../../images/main/insta_32.png) no-repeat;
}
	
.m-ctrl button {width:22px; height:22px;}
.m-ctrl button:hover{transform:none!important;}
.m-ctrl .btn-prev {background-size:100%}
.m-ctrl .btn-pause {background-size:100%}
.m-ctrl .btn-play {display:none; background-size:100%}
.m-ctrl .btn-next {background-size:100%}
.btn-play.off:hover{background-size:100%}

#content .btn-prev, #content .btn-pause, #content .btn-play, #content .btn-next {background-size:100%;}


#visual-section .btn-next, #visual-section .btn-prev, #visual-section .btn-pause, #visual-section .btn-play{border:none;}
#visual-section .btn-prev {background-size:100%}
#visual-section .btn-pause {background-size:100%;}
#visual-section .btn-play {display:none; background-size:100%;}
#visual-section .btn-next {background-size:100%}
#visual-section .slide-count{    font-size: 1.3rem;bottom: 0;}
#visual-section .slide-count strong{    font-size: 1.5rem;}

#visual-section .btn-next, #visual-section .btn-prev, #visual-section .btn-pause, #visual-section .btn-play

#content .btn-prev, #content .btn-pause, #content .btn-play, #content .btn-next {width:22px;background-size:100%;background-position: 0 0;}
.mem-login{
    border:none;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
}