@charset "utf-8";

a:hover{text-decoration: none;}

#content .inner {
    padding-top: 28px;
}
#content .inner{
	position:relative;
	z-index:1;
}
#member-section,
#live-section {
    background: #fff;
	border-radius: 16px;    
}
#schedule-section .schedule-info {
    box-shadow: none;
    background:#716155;
	border:none;
    border-radius: 16px 16px 0 0;
	margin: 0;
	padding: 20px 23px;
    height:auto;
}
#visual-section{
	box-shadow: none;
}
.visual-ctrl-new {
    height: 26px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: auto;
    display: block;
}

#visual-section button,
#visual-section .btn-prev,
#visual-section .btn-next,
#visual-section .btn-pause,
#visual-section .btn-play {float: left;right:auto;bottom:auto;width:24px; height:24px; border:none;margin: 0 0 0 3px!important;text-indent:-9999px; white-space:nowrap;overflow:hidden;position: relative;top: auto;background-color:transparent;opacity: 1;}
#visual-section button:hover{transform:none!important;}
#visual-section .btn-prev {background-image:url(../../images/main/ctr_prev.png);background-size:100%;}
#visual-section .btn-pause {background-image:url(../../images/main/ctr_pause.png);background-size:100%;}
#visual-section .btn-play {display:none; background-image:url(../../images/main/ctr_play.png);background-size:100%;}
#visual-section .btn-next {background-image:url(../../images/main/ctr_next.png);background-size:100%;}


#visual-section .slide-count {
    position: relative;
    right: auto;
    /* color: #fff!important; */
    color: #888989!important;
    bottom: 7px;
    float: left;
    font-size: 1.8rem;
    letter-spacing: 2px;
}
#main-section{
    width: calc(100% - 600px);
}
#member-section .chairman{
	box-shadow: none;
    position: absolute;
}
#member-section .chairman h3 {
	position:absolute;
	left:-9999px;
	font-size:0;
}
#member-section .chairman p{
	color: #40362c;
	font-size: 2.0rem;
    font-weight:400;
	width:auto;
	padding:34px 0 0 30px;
	margin:0; 
	line-height:32px;
}
#member-section img{
    width:100%;
}
#member-section img.m-photo{
   display: none;
}
#member-section .chairman a {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    font-weight:300;
    padding: 0 10%;
    margin: 20px 0 0 30px;
    border-radius:40px;
    height: 40px;
    line-height: 40px;
	background: #77503b;
    border:none;
}
#member-section .chairman p strong{
	color: #40362c;
    font-size: 2.6rem;
    font-weight:500;
}
#member-section .chairman p b{
	color: #703f1e;
	font-size: 2.4rem;
    font-weight:500;
}
#schedule-section {
    width: 448px;
    margin: -195px 0 0 28px;
}
#member-section {
    width: 448px;
    margin: 0 0 0 28px;
    float: left;
}
#content:before{
	content:none;
}
#header{
	border-bottom:1px solid #ddd;
}
#visual-section {
    max-width: 924px;
    width: calc(100% - 476px);
	height: 460px;    
    margin-right:0;
    margin-bottom:0;
    border-radius: 18px;
    overflow: hidden;
}
#visual-section .visual-slider .item a {
    height: 460px;
}
#live-section{
    height: 60px;
	border:1px solid #1dace7;
	border-radius: 16px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
	position: relative;
	margin: 0 0 40px 0;
}
#live-section h3{
    background: #1dace7;
    color: #fff;
    line-height: 60px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 60px;
    border-radius:15px 0 0 15px;
    min-width: 201px;
    white-space: nowrap;
    display: inline-block;
	font-weight: 400;
}
#live-section h3:before{
	content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../../images/main/icons.png) -589px -381px no-repeat;
    vertical-align: middle;
}
.live-slider{
	display:inline-block;
	overflow:hidden;
	width:877px;
}
.live-slider .item{
	float:left;
}
.live-slider .item a{
	display:block;
	font-size:18px;
	height: 60px;
    line-height: 60px;
    line-height: 56px;
    overflow: hidden;
    padding: 0 80px 0 15px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.live-slider .slick-prev{
	right:0;
}
.live-slider .slick-next{
	right:0;
}
.live-ctrl {
    right: 15px;
    top: 16px;
    width: 140px;
	min-width: 82px;
    position: relative;
	display: block;
	    height: 25px;
}
.main-wrap{
    display: flex;
    flex-wrap: wrap;
}
.sbanner-ctrl {
	position: absolute;
    top: 48px;
    right: 22px;
    width: 152px;
	display: flex;
}

.sbanner-ctrl .slide-count{
	position:relative;
	    right: 0;
}

.slide-count{
	font-size:1.6rem;
	padding: 0 10px;
	color:#888!important;
}
.slide-count strong{
	font-size:2.2rem!important;
	color:#a47445!important;
    font-weight: 500;
}
#live-section .slide-count {
    right: 99px;
    bottom: 15px;
}
#live-section .slide-count {
    right: 99px;
    bottom: 18px;
}
#schedule-section .stat-box {
    display: block;
}
#schedule-section .stat-box {
    display: block;
}
#util .ico-zoom-in {left:0; background-image:url(../../images/main/ico-zoom-in.png); background-size:13px 13px;}
#util .ico-zoom-reset {left:31px; background-image:url(../../images/main/ico-zoom-reset.png); background-size:13px 13px;}
#util .ico-zoom-out {right:0; background-image:url(../../images/main/ico-zoom-out.png); background-size:13px 1px;}

#info-section0{
    max-width: 924px;
    width: calc(100% - 476px);
    background: #ece6de;
    float: left;
    border-radius: 16px;
    position:relative;
	    margin: 30px 0 0 0;
}
#info-section0:before{
    content:'';
    display:block;
    width:100px;
    height:98px;
    background: url(../../images/main/hc-1.png) no-repeat;
    position:absolute;
    right:45px;
    bottom:0;
}
#info-section0 .info-group{
    display: flex;
    padding: 40px 0;
}
#info-section0 .info-group li{
    margin-left: 50px;
}
#info-section1 .latest dd {
    top: 0;
	padding: 0;
}
#info-section1 .latest dd ul li a:before{
	content:none;
}
#info-section0 a{
	    line-height: 88px;
    font-size: 18px;
	white-space: nowrap;
    width: 140px;
    display: block;
    height: 140px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
}
#info-section0 a strong{
	font-weight: 400;
    display:block;
    line-height: 43px;
}
#info-section0 a:before{
	content:'';
	display:inline-block;
	width:80px;
	height:80px;
	background:url(../../images/main/icons.png) no-repeat;
	vertical-align: middle;
    top: 5px;
    position: relative;
}
#info-section0 li:first-child a:before{
	background-position:-198px -464px;
}
#info-section0 li:nth-child(2) a:before{
	background-position:-298px -461px;
}
#info-section0 li:nth-child(3) a:before{
	background-position:-395px -463px;
}
#info-section0 li:nth-child(4) a:before{
	background-position:-494px -457px;
}
#visual-section {

}
#visual-section .visual-slider img {
    width: 100%;
    height: auto;
    border-radius:18px;
}
#info-section1 .latest dt a {
    font-size: 1.8rem;
    padding: 0 20px;
    color:#312d29;
}
#info-section1 .latest dt.on a {
    font-size: 1.8rem;
    margin: 0;
    background: #77503b;
    color: #fff;
    border-radius: 6px 0 6px 0;
}
#info-section1 .latest dt a:before {
    content:none;
}
#info-section1 .latest dt{
	margin:0;
    z-index: 1;
    position: relative;
}
.sbanner-wrap{
	padding:30px;
	background:#fffcee;
	border-radius:10px;
	float:left;
	margin:0 0 0 40px;
	position: relative;
}
.sbanner-wrap h3{
	font-size: 2.0rem;
    padding: 20px 0 30px 0;
}
.sbanner-slider{
	width:257px;
	height:234px;	
	overflow:hidden;
	position: relative;
}
.sbanner-slider{
	width:257px;
	height:234px;
}
.sbanner-slider .item{
	float:left;
}
.sbanner-slider .item a {
    position: relative;
    display: block;
    height: 234px;
    width:257px;
}
.sbanner-slider img {
    width: 100%;
    height: auto;
	/* border:1px solid #f2a755; */
}

#info-section1{
	padding:50px 0 0 0;
    margin-top:0;
}
#info-section1 .latest {
    width: auto;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    height: 360px;
    float: none;
    padding:0;
}
#info-section1 .latest dd ul {
    margin: 60px 0 0 0;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
#info-section1 .latest .date {
    float: none;
    display: block;
	font-size: 15px;
	color: #59514b;
    padding:0;
}
#info-section1 .latest dd ul li {
    padding: 23px 16px 23px 18px;
    border-right: none;
    width: calc(33.3% - 19px);
    height: 118px;
    background: #f9f6f1;
    margin: 20px 28px 0 0;
    border:1px solid #f9f6f1;
}
#info-section1 .latest dd ul li.active,
#info-section1 .latest dd ul li:hover{
    background:#fff;
    border:1px solid #ac7f5e;
}
#info-section1 .latest dd ul li:nth-child(3n){
    margin-right:0;
}
#info-section1 .latest dd ul li:last-child {

}
#info-section1 .latest dd ul li a {
    display: block;
    padding: 0;
    color: #757575;
    font-size: 1.5rem;
    vertical-align: middle;
    text-overflow: inherit;
    white-space: normal;
    overflow: hidden;
	width: 100%;
    max-width: 100%;
}
#info-section1 .latest dd ul li a:hover, #info-section1 .latest dd ul li a:focus {text-decoration:none;}
#info-section1 .latest dd ul li a strong {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 49px;
	height: auto;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	margin:0 0 3px 0;
	font-size: 1.6rem;
    font-weight: 400;
	color: #5b483a;
}
#schedule-section .cont-box {
	margin: 0;
    font-size:2.6rem;
    padding:24px 0 20px 0;
}
#schedule-section .cont-box .date {
    color: #fff;
    font-weight: 400;
    font-size: 2.6rem;
    
}
#schedule-section .cont-box .date.thisYear {
	font-size: 2.0rem;
	    margin: 0 5px 0 0;
}
#schedule-section .title {
    padding: 3px 0 19px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #958273;
}
#schedule-section .title h3 {
    font-size:2.0rem;
    color:#fff;
    text-align:left;
    margin-right:auto;
}
#schedule-section .title span {
    display:inline-block;    
    height:40px;
    padding:0 25px;
    line-height:40px;
    border-radius:6px;
    color:#fff;
    text-align:center;
    background:#463731;
    font-size:1.8rem;
    margin-left:6px;
}
#schedule-section .title h3+span {
    margin-left:0;
}
#schedule-section .title span.live {
    color:#e6cb4f;
}
#schedule-section .date-week{
    display:flex;
}
#schedule-section .date-week li{
    width:15%;
}
#schedule-section .date-week li a{
    color:#baa490;
    font-size:1.8rem;
    text-align:center;
    display:block;
    padding:10px 0;
}
#schedule-section .date-week li a span{
    color:#fff;
    font-size:1.8rem;
    display:block;
}
#schedule-section .date-week li.active a{
    background:#463731;
    border-radius:12px;
}
#schedule-section .todo{
    background: #fff;
    background:#716155;
    border-radius: 0 0 16px 16px;
}
#schedule-section .todo .today-view{
    border-radius: 26px 20px 0 0;
    background: #fff;
    border: 1px solid #716155;
    border-bottom: none;
    color: #504a3f;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 22px 30px;
    align-items: center;
}
#schedule-section .todo .today-view span{
    font-size:2.4rem;
}
#schedule-section .todo .today-view p{
    font-size: 1.8rem;
    width: calc(100% - 86px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}
#schedule-section .todo .today-view p:before{
    content:'';
    display:inline-block;
    width:6px;
    height:6px;
    border-radius:50%;
    background:#716155;
    margin:0 7px 0 0;
    vertical-align:middle;
}
#schedule-section .todo .todo-btn{
    background:#fff;
    padding:0 30px 30px 30px;    
    border-radius:0 0 6px 6px;
    border:1px solid #716155;
    border-top:none;
}
#schedule-section .todo .todo-btn ul{
    background:#fff;
    text-align:center;
    padding:22px 0 0 0;    
    background:url(../../images/main/dotted.png) left top repeat-x;
}
#schedule-section .todo .todo-btn ul li{
    display:inline-block;
    padding:0 8px;
}

#schedule-section .todo .todo-btn a{
    font-size:1.8rem;
    display:inline-block;
    line-height:50px;
    padding:0 30px;
    border-radius:6px;
    background:#eaddd0;
}



#schedule-section .stat-box {
	text-align: left;
	padding: 20px 0 9px;
}
#schedule-section .stat-box strong {
    font-size: 2.0rem;
    color: #1a1a1a;
    font-weight: 400;
}
#schedule-section .stat-box p {
	font-size: 1.8rem;
	    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: #585858;
}
#schedule-section .period-link li a,
#schedule-section .period-link li:last-child a {
    height: 50px;
    font-size: 1.8rem;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #1dace7;
    color: #333;
    text-align: center;
    padding: 0;
    line-height: 48px;
}
#schedule-section .stat-box+.period-link {
    margin-top: 15px;
    text-align: left;
	display: flex;
    justify-content: space-between;
}
#schedule-section .period-link li a:after{
	content:none;
}
#schedule-section .period-link li {
        width: 100%;
}
#schedule-section .period-link li:last-child {
        width: 74%;
}

#info-section1 .latest dd ul li a span {
    display:block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 46px;
    word-break: break-all;
	margin:0 0 10px 0;
	color: #2e261f;
	font-size: 16px;
    white-space: nowrap;
}
#main-area section{
	display:flex;
	justify-content: space-between;
	padding: 97px 0 0 0;
}
#main-area section .map {
    width: auto;
    float: none;
	border-top: none;
	padding: 60px 0 0 0;
}
#main-area section .member-list {
    width: calc(100% + 15px);
	height: 180px;
    float: none;
	overflow: hidden;
    margin:78px 0 0 0;
}
#main-area section .member-list li {
    margin: 0 10px 0 0;
    float: left;
    width: calc(32.3% - 2px);
}
#main-area section .member-list li:nth-child(2n),
#main-area section .member-list li:nth-child(3n){
	margin: 0 10px 0 0;
}
#main-area section .member-list dt a:after{
	    background: url(../../images/main/plus_thin.png) no-repeat;
    background-position: center center;
    background-size: auto;
    text-indent: -9999px;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    border-left: 1px solid #ddd!important;
    top: 39px;
    right: 30px;
    position: absolute;
    right: 14px;
    top: 18px;
	content:'';
}
#main-area .map-left{
    width: 63%;
    position: relative;
    background: #f9f4ec;
    border-radius: 25px 25px 0 0;
    padding:0 50px;
}
#info-section1 .latest dl {
    padding: 0;
}
.member-ctrl{
    position: absolute;
    right: 60px;
    margin: 25px 84px 0 0;
}
section .member-ctrl .btn-more{
    position: relative;
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0 0 0 26px;
}

.member-ctrl .slide-count{
	    float: left;
    position: relative;
    right: auto;
}
#main-area section:before,
#main-area section:after{
	content:none;
}
#main-area .map-right{
    width: 42%;
    padding: 0 0 0 40px;
}
#main-area section .map .map-all {
    position: absolute;
    left: 0;
    top: 112px;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: #524b44;
    padding: 10px 0 10px 0;
}
#main-area section .map .map-all:after{
	content:none;
}
#main-area section .member-list dl {
    width: auto;
    height: 126px;
    border: 1px solid #c5b5a9;
    border-radius: 16px;
    display: block;
    position: relative;
    padding: 16px 0 0 113px;
    background: #fff;
}
#main-area section .member-list dt {
    font-size: 1.8rem;
    color: #524b44;
    padding: 0;
    font-weight: 400;
}
#main-area section .member-list dd,
#main-area section .member-list dd:nth-child(2) {
    font-size: 1.4rem;
    color: #524b44;
    font-weight: 400;
    padding:2px 0 0 0;
}
.map-right .member-search {
    margin: 0 0 50px 0;
	width: auto;
	margin-left: auto;
    padding: 50px 0 0 0;
}
.map-right .member-search h3{
    font-size: 2.0rem;
    margin: 10px 0 0 0;
    font-weight: 400;
    display: inline-block;
    float: left;
}
.map-right .member-search p{
	font-size:1.6rem;
	padding:10px 0 15px 30px;
}
.map-right .member-search input{
    margin: 0 10px 0 0;
    border: 1px solid #5e4938;
    height: 50px;
    vertical-align: middle;
    float: left;
    width: calc(100% - 118px);
    border-radius: 6px;
    font-size: 18px;
    color: #585858;
    font-weight: 300;
    text-indent: 20px;
}
.map-right .member-search button {
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    height: 50px;
    background: #5e4938;
    padding: 0 12px;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    float: left;
    width: 118px;
}
#main-area section .member-list dl img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 14px;
}
.map-right .member-search ul {
    padding: 0;
    margin: 0 0 20px 0;
    display: inline-block;
    float: right;
}

.map-right .member-search ul:after {
	content:'';
	display:block;
	clear:both;
}
.map-right .member-search li{
	display:inline-block;
	margin:0 10px 0 0;
	width:auto;
	float:left;
}
.map-right .member-search li:last-child{
	margin:0;
}
.map-right .member-search li a{
    display: block;
    padding: 0 36px;
    font-size: 18px;
    border: none;
    border-radius: 7px 0 7px 0;
    text-align: center;
    background: #fff;
    height: 44px;
    line-height: 42px;
    color: #fff;
    font-weight: 300;
    background: #77503b;
}
.map-right .member-search fieldset{
	margin-top:5px;
	    display: flex;
    justify-content: space-between;
    padding: 0;
    clear:both;
}
.map-right .assem-link{
    float: none;
    position: relative;
	width: auto;
    padding: 0;
	margin-left: auto;
}
.map-right .assem-link h3{
	color: #333;
    font-weight: 400;
    font-size: 2.0rem;
	margin:38px 0 15px 0;
}
.map-right .assem-link ul{
	margin: 10px 0 0 0;
}
.map-right .assem-link li{
    display: inline-block;
    width: calc(50% - 15px);
}
.map-right .assem-link li:nth-child(even){
	margin-left:10px;
}
.map-right .assem-link li:nth-child(3n){

}
.map-right .assem-link li a {
    font-size: 1.6rem;
    padding: 0 0 10px 0;
    display: block;
    position: relative;
    white-space: nowrap;
    text-align: center;
    color: #5e4938;
}
.map-right .assem-link li a:after {
	content:none;
}
.map-right .assem-link li span{
    width: 71px;
    height: 63px;
    display:block;
    overflow: hidden;
    margin: 0 auto;
}
.map-right .assem-link li a:before {
    content: none;
    display: block;
    width: 71px;
    height: 63px;
    margin: 0 auto;
}
.map-right .assem-link li:nth-child(1) a:before {
    background: url(../../images/main/link-con1.png) no-repeat;
}
.map-right .assem-link li:nth-child(2) a:before {
    background: url(../../images/main/link-con2.png) no-repeat;
}
.map-right .assem-link li:nth-child(3) a:before {
    background: url(../../images/main/link-con3.png) no-repeat;
}
.map-right .assem-link li:nth-child(4) a:before {
    background: url(../../images/main/link-con4.png) no-repeat;
}
.map-right .assem-link li:nth-child(5) a:before {
    background: url(../../images/main/link-con5.png) no-repeat;
}
.map-right .assem-link li:nth-child(6) a:before {
    background: url(../../images/main/link-con6.png) no-repeat;
}
.map-right .assem-link li:nth-child(7) a:before {
    background: url(../../images/main/link-con7.png) no-repeat;
}
.map-right .assem-link li:nth-child(8) a:before {
    background: url(../../images/main/link-con8.png) no-repeat;
}
.map-right .assem-link li:nth-child(9) a:before {
    background: url(../../images/main/link-con9.png) no-repeat;
}
.map-right .assem-link li:nth-child(10) a:before {
    background: url(../../images/main/link-con10.png) no-repeat;
}
.map-right .assem-link li:nth-child(11) a:before {
    background: url(../../images/main/link-con11.png) no-repeat;
}
.map-right .assem-link li:nth-child(12) a:before {
    background: url(../../images/main/link-con12.png) no-repeat;
}
.map-right .assem-link li:nth-child(13) a:before {
    background: url(../../images/main/link-con12.png) no-repeat;
}
#main-area section .map .gangdong a:hover{background-position:-435px -453px; width: 106px; height: 123px; top:212px; left: 490px;}
#main-area section .map .gangdong a.hover{background-position:-435px -453px; width: 106px; height: 123px; top:212px; left: 490px;}

.map-right .latest .btn-more {
    top: -23px;
}
#main-area section .map .map-cont {
    transform: scale(1);
    display: none;
    margin:106px auto 0 auto;
    height:539px;
}
#main-area section .map ul {
    background: url(../../images/main/seoulmap_2023.png) no-repeat;
    background-size: 100%;
}
#main-area section .map ul li a:hover{background: url(../../images/main/gu-map_2023.png) no-repeat; z-index:1;}
#main-area section .map ul li a.hover{background: url(../../images/main/gu-map_2023.png) no-repeat; z-index:0;}
#main-banner {
    background:none;
    margin:0;
}
#main-banner section ul {
    display: flex;
    justify-content: space-around;
}
#main-banner section li {
    height: auto;
    padding: 0;
}
#main-banner section li a {
    width: 85px;
    height: 150px;
}
#main-banner section li a:before{
    background: url(../../images/main/icons.png) no-repeat;
	border-radius: 0;
	background-position: -16px 0;
	    width: 85px;
    height: 104px;
}
#main-banner section li:nth-child(2) a:before {
    background-position: -136px 0;
}
#main-banner section li:nth-child(3) a:before {
    background-position: -250px 0;
}
#main-banner section li:nth-child(4) a:before {
    background-position: -371px 0;
}
#main-banner section li:nth-child(5) a:before {
    background-position: -487px 0;
}
#main-banner section li:nth-child(6) a:before {
    background-position: -602px 0;
}
#main-banner section li:nth-child(7) a:before {
    background-position: -14px -116px;
}
#main-banner section li:nth-child(8) a:before {
    background-position: -129px -116px;
}
#main-banner section li:nth-child(9) a:before {
    background-position: -242px -116px;
}
#main-banner section li:nth-child(10) a:before {
    background-position: -15px -534px;
}
#content .btn-more, section .btn-more{
    text-indent: 0;
    background: none;
    border: none;
    border-left: none!important;
    width: auto;
	font-size: 1.6rem;
}
#content .btn-more:before,
section .btn-more:before{
	content:'';
	    background: url(../../images/main/icon_new.png) no-repeat;
    background-position: -58px -170px;
    width: 24px;
    height: 16px;
	display:inline-block;
	vertical-align:middle;
}
.assem-link .btn-more{
    top: 0;
    left: 107px;
}
.assem-link .btn-more:before{

}
.map-left .btn-more{
	    top: auto;
        bottom: 208px;
        right: 50px;
}
#main-media .media-list .tab-cont li p {
    font-size: 1.6rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 0 5px 5px;
    font-weight: 400;
    color: #28231f;
}
#main-media .media-list .tab-cont li span {
    font-size: 1.6rem;
    color: #7e7167;
    margin: 0 5px 0 5px;
}
#main-media .media-list .tab-cont li span img{
    width: 20px;
    height: 16px;
    border-radius: 0;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
#info-section1 .latest .btn-more {
    top:14px;
    right: 3px;
}
#main-media .media-list .tab-cont .media-all a:after{
	content:none;
}
#main-area section .map .map-tab.mtab2 {
    top: 50px;
    left: 187px;
}
#main-area section .map .map-tab {
    position: absolute;
    color: #77503b;
    font-size: 1.8rem;
    display: block;
    border: 1px solid #91715e;
    border-radius: 5px 0 5px 0;
    min-width: 180px;
    text-align: center;
    padding: 12px 0;
    font-weight: 400;
    top: 50px;
    left:0;
}
#main-area section .map .map-tab.on,
#main-area section .map .map-tab:hover,
#main-area section .map .map-tab.mtab2:hover {
    border: 1px solid #77503b;
    color: #fff;
    background:#77503b;
}
#main-media .media-list h3:after{
	content:none;
}
#main-media .media-list h3 a {
    color: #77503b;
    font-size: 1.8rem;
    padding: 0 28px;
    border-radius: 6px 0 6px 0;
    height: 54px;
    line-height: 54px;
    border: 1px solid #77503b;
    background: #fff;
    display: inline-block;
    font-weight: 400;
}
#main-media .media-list h3.tab2 {
    left: 134px;
}
#main-media .media-list .tab-cont ul{
	    display: flex;
    justify-content: space-between;
}
#main-media .media-list .tab-cont .media-pic1 {
    width: 320px;
    max-height: 180px;
    border-radius: 16px;
	display: block;
	overflow: hidden;
}
#main-media .media-list .tab-cont .media-pic2 {
    width: 320px;
    max-height: 180px;
    border-radius: 16px;
	display: block;
	overflow: hidden;
}
#main-media .media-list .tab-cont img {
    max-width: 320px;
    max-height: 180px;
    width: 100%;
    border-radius: 10px;
}
#main-media .media-list .tab-cont .media-pic1 img{
	width: 100%;
	max-width: 320px;
	object-fit:none;
}
#main-media .media-list .tab-cont .media-pic2 img{
	width: 100%;
	max-width: 320px;
}
#main-media .media-list .tab-cont li {
    text-align: left;
/* 	    width: auto; */
        margin: 0 10px 0 0;
        width: calc(25% - 40px);
}
#main-media section h2 {
    font-weight: 400;
    color: #17191d;
    letter-spacing: -2px;
	padding: 0 0 5px 0;
    font-size: 2.8rem;
}
#main-media section>p {
    font-size: 2.0rem;
    text-align: center;
    color: #17191d;
    margin: 8px 0 53px 0;
    font-weight: 300;
}
#main-media section>p br{
	display:none;
}
#main-media .media-list h3.active a {
    color: #fff;
    background: #77503b;
}
#main-media .media-list .tab-cont {
    padding: 86px 0 0 0;
}
#main-media .media-list .tab-cont .media-all a{
    top: -3px;
    right: 0;
}


#sns-area{
	max-width:1400px;
    margin: 100px auto 0 auto;
    border:1px solid #ebebeb;
    box-shadow: #a7a7a778 0 0 10px;
    border-radius: 8px;
    padding:28px 45px;
    position: relative;
}
#sns-area::before{
    content:'';
    display:block;
    width:116px;
    height: 154px;
    background:url(../../images/main/hc-2.png) no-repeat;
    position: absolute;
    right: -70px;
    bottom: -11px;
    z-index:1;
}
#sns-area h3{
	font-size:2.8rem;
	color:#17191d;
	font-weight:600;
	position:relative;
}

#sns-area .sns-btns>p{
	font-size:1.6rem;
	color:#585858;
	margin: 12px 0;
}
#sns-area .sns-dlink{
	clear: both;
    padding:0;
	
}
#sns-area .sns-dlink li{
	display:inline-block;
	padding:10px 0 0 20px;
    white-space: nowrap;
    position:relative;
    float:none;
    width:auto!important;    
}

a:focus {
    outline: none;
}
#sns-area .sns-dlink li a:before{
    content: '';
    display: inline-block;
    width: 47px;
    height: 47px;
	vertical-align: middle;
    margin: 0 10px 0 0;
    border-radius:8px;
}

#sns-area .sns-dlink li:nth-child(1) a:before{
	background: url(../../images/main/youtube_46.png) no-repeat;
}
#sns-area .sns-dlink li:nth-child(2) a:before{
	background: url(../../images/main/facebook_46.png) no-repeat;
}
#sns-area .sns-dlink li:nth-child(3) a:before{
	background: url(../../images/main/insta_46.png) no-repeat;
}
#sns-area .sns-dlink li:nth-child(4) a:before{
	background: url(../../images/main/blog_46.png) no-repeat;
}
#sns-area .sns-dlink li:nth-child(5) a:before{
	background: url(../../images/main/twitter_46.png) no-repeat;
}

#sns-area .sns-dlink a{
	width:46px;
    height:46px;
    overflow: hidden;
}

#sns-area .sns-dlink a{
	display:block;
    font-size:20px;
    color:#fff;
    border-radius:8px;
}
#sns-area .sns-dlink li.on a{
    border-radius:8px;
    padding-right:25px;
    width:190px;
}
#sns-area .sns-dlink li.on .sns-btn-youtube{
    background:#d1262b;
}
#sns-area .sns-dlink li.on .sns-btn-facebook{
    background:linear-gradient(1deg, #0167e1, #18acfe);
}
#sns-area .sns-dlink li.on .sns-btn-instagram{
    background:linear-gradient(118deg, #f13c5a, #4e48ea);
}
#sns-area .sns-dlink li.on .sns-btn-blog{
    width:46px;
    height:46px;
    overflow: hidden;
}
#sns-area .sns-dlink li.on .sns-btn-twitter{
    width:46px;
    height:46px;
    overflow: hidden;
}
#sns-area .sns-dlink li button {
    display:none;
    background: none;
    border: none;
    text-indent: -9999px;
    position: absolute;
    right: 12px;
    top: 21px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
}
#sns-area .sns-dlink li button:before,
#sns-area .sns-dlink li button:after{
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    background: #d1262b;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -6px;
}
#sns-area .sns-dlink li button:after{
    width: 2px;
    height: 12px;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -1px;
}
#sns-area .sns-dlink li .sns-btn-facebook + button:before,
#sns-area .sns-dlink li .sns-btn-facebook + button:after{
    background: #0470e5;
}
#sns-area .sns-dlink li .sns-btn-instagram + button:before,
#sns-area .sns-dlink li .sns-btn-instagram + button:after{
    background: #7b3ee1 ;
}
#sns-area .sns-dlink li.on button{
	display:block;	
}
#sns-area .sns-dlink .slick-current button:before,
#sns-area .sns-dlink .slick-current button:after{
	content:'';
	display:block;
	width:20px;
	height:1px;
	background:#848585;
	position:absolute;
	right:0;
	top:10px;	
}
#sns-area .sns-dlink .slick-current button:after{
	transform: rotate(90deg);
}
#sns-area .sns-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sns-area .sns-slider{
	width:100%;
	    position: relative;
    overflow: hidden;
	margin: 0;
	height: auto;		    
}
#sns-area .sns-slider .item{
	width:100%;
	padding: 0;
    margin-right: 30px;
}
#sns-area .sns-slider {
	width: calc(100% + 35px);
	padding: 0;
}
#sns-area .sns-slider li{ 
    display: inline-block;
   
}

#sns-area .sns-slider li a{
    display: block;
    background: #fff;
    font-size: 1.6rem;
    min-height: 274px;
    border-radius: 0 0 10px 10px;
}
#sns-area .sns-slider li a p{
    font-size: 1.6rem;
    padding: 20px 0 0 0;
    display: -webkit-box;
    max-height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 0 8px 0;
    color: #28231f;
    max-width: 303px;
    height: 65px;
}
#sns-area .sns-slider li a span{
	font-size:1.5rem;
	padding: 0;
	color:#77503b;
}
#sns-area .sns-slider .sns-pic {
    width: 100%;
    max-height: 195px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
	position: relative;
}
#sns-area .sns-slider .sns-pic img {
    width: 100%;
    max-width: 303px;
    height:189px;
    border-radius: 10px;
}
#sns-area .sns-slider .youtube .sns-pic:before {	
	background-position: 0 0;
}

#sns-area .sns-slider .facebook .sns-pic:before {	
	background-position: -43px 0;
}

#sns-area .sns-slider .instagam .sns-pic:before {	
	background-position: -86px 0;
}
.sns-dlink-nav.slick-slider .slick-track{
	transform:none!important;	
}
.sns-cont .m-ctrl{
    position: absolute;
    right: 480px;
    top: -62px;
}
.sns-cont .slide-count{
    right: 87px;
    bottom:-4px;
}


#main-media section{
	z-index: 1;
}
#main-media {
    background:none;
	position: relative;
    border-top:2px solid #e1dbd1;
}

#main-area section .map .sungdong a:hover,
#main-area section .map .sungdong a.hover{height: 83px;}

 
.sns-cont{
    position:relative;
    height:0;
    width:100%;
    overflow:hidden;
    left: 0;
    top:0;
}
.sns-cont section{ 
    width:100%;
    margin: 25px 0 0 0;
}
.sns-cont.sns-show{
    position:relative;
    height: auto;
    overflow:visible;
}

@media only all and (max-width: 1360px){
    #info-section0:before,
    #sns-area::before{
        content:none;
    }
    #info-section0 .info-group {
        padding: 40px;
        justify-content: space-between;
    }
    #info-section0 .info-group li {
        margin-left: 0;
    }
    .map-right .member-search{
        padding:0;
    }
    .map-right .member-search h3{
        float:none;
        display: block;
    }
    .map-right .member-search ul{
        float:none;
        margin:10px 0 0 0;
    }
}

@media only all and (max-width: 1201px){
	#visual-section {
        width: calc(51% - 5px);
        margin-right: 5px;
        height: auto;
	}
	#live-section {
margin: 0 0 30px 0;
    display: block;
    height: 128px;
	overflow: hidden;
}
#live-section h3{
	width:100%;
	border-radius: 8px 8px 0 0;
}
.live-slider .item a {
    padding: 0 254px 0 15px;
}
	#main-section {
		width: calc(100% - 470px);
	}
	#schedule-section{
		width:100%;
		    height: auto;
			position:relative;
            margin: 0 0 20px 0;
	}
	#schedule-section .schedule-info {
    min-height: 200px;
    text-align: left;
    padding: 38px 41px;
}
#schedule-section .title {
    padding: 10px 0 25px;
    text-align: left;
}
#schedule-section .stat-box{
	    position: absolute;
    	right: 30px;
    	top: 0;
    	width: 48%;
		padding: 20px 0 9px 10px;
}
#schedule-section .stat-box+.period-link{
	    position: absolute;
    	right: 30px;
    	width: 48%;
    	top: 96px;
}
.map-right .member-search ul {
    clear: both;
    padding : 1px 1px 0 1px;
	margin: 10px 0 20px 0;
}
.map-right .member-search li a{
    padding: 0 17px;
}
#info-section1 .latest dd ul li {
    width: calc(50% - 14px);
}
#info-section1 .latest dd ul li:nth-child(3n) {
    margin-right: 28px ;
}
#info-section1 .latest dd ul li:nth-child(2n){
    margin-right: 0 ;
}
#info-section1 .latest{
    height: 344px;
    overflow: hidden;
}
	#member-section{
        margin: 0;
        min-height: auto;
        width: calc(49% - 5px);
        margin-left: 5px;
	}
    #member-section:after{
        content:'';
        display:block;
        clear:both;

    }
	#member-section .chairman {
        min-height: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;	
	}
#info-section0 {
    width: 100%;
    height: 172px;
    margin: -172px 0 0 0;
}
	#info-section0 .info-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 15px;
}
	#info-section0 li {
    width: 50%;
}
#member-section .chairman a + br{
	display:none;
}	
	#member-section .chairman a {

	}
	#visual-section .visual-slider .item a {
    height: auto;
}
.live-ctrl {
    right: 15px;
    top: 80px;
    width: auto;
    position: absolute;
    display: flex;
    height: 25px;
}
#live-section .slide-count {
    bottom: 24px;
}
#member-section .chairman p {
    font-size: 2rem;
    width: auto;
}
#info-section0 li{
    width: 25%;
}
#info-section0 .info-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
	    padding:10px 10px 6px 10px;
}
#info-section0 li {
    width: 50%;
}
#info-section0 .info-group li {
    width: calc(25% - 10px);
    margin-right: 10px;
}
#info-section0 .info-group li:last-child {
    margin-right: 0;
}
#info-section1 {
    padding: 0  0 0 0;
	margin: 0;
}
#info-section0 a {
    line-height: 70px;
    font-size: 15px;
    display: block;
    padding: 0 0 0 20px;
    white-space: nowrap;
    color: #17191d;
    width: 100%;
}
#sns-area .sns-slider ul .sns-pic {
    width: auto;
}
#main-area section .member-list li {
    margin: 0 10px 0 0;
    float: left;
    width: calc(50% - 5px);
}
#main-area section .member-list li:nth-child(2n),
#main-area section .member-list li:nth-child(3n) {
    margin: 0 10px 0 0;
}
#sns-area .sns-slider ul li{ 
    display: inline-block;
    width: calc(25% - 10px);
}
#sns-area .sns-slider.sns-hide{
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
#sns-area .sns-slider.sns-show{
    position:relative;
    width:auto;
    height:auto;
    overflow:hidden;
}

}

@media only all and (min-width: 990px) and (max-width: 1201px)
{
	#gnb>li>a{
		white-space: nowrap;
	}
	.visual-ctrl-new{
    bottom: 10px;
    right: 20px;
}
#visual-section button, #visual-section .btn-prev, #visual-section .btn-next, #visual-section .btn-pause, #visual-section .btn-play{
	background-color: #fff;
	border-radius: 24px;
}
#info-section0{
    height: 164px;
    margin: 0;
    max-width: 100%;
    margin: 20px 0;
    clear: both;
}
	#info-section1 .latest dt a {
    padding: 0 7px;
    font-size: 1.6rem;
	}
	#info-section1 .latest dt.on a {
	    font-size: 1.6rem;
	}
}




@media only all and (max-width: 991px){
	
	#content * {
		font-size:1.5rem
	}
	#content {
		padding: 15px 10px 0 10px;
	}
	#content:after{
		content:none;
	}
	#content .inner {
    padding-top: 0;
	padding-bottom: 0;
    }
	#visual-section {
		max-width: 100%;
		height: auto;
		margin: 0 0 15px 0;
        width: 100%;
		
	}
	#visual-section .visual-slider .item a {
		height: auto;
	}
	#main-section {
    width: 100%;
    }
	#live-section {
		height: 115px;
		border: 1px solid #1dace7;
		border-radius: 10px;
		float: none;
		width: 100%;
		position: relative;
		margin: 0 0 20px 0;
		display: block;
	}
	#live-section h3 {
		display: block;
	}
	.live-slider {
    height: 50px;
	}
	#schedule-section {
		width: 100%;
		    margin: 15px 0 0 0;
	}
	#member-section {
    width: 100%;
    margin: 0;
    float: none;
	min-height: auto;
}
#member-section img.p-photo{
    display: none;
}
#member-section img.m-photo{
    display: block;
}
.visual-ctrl-new {
    bottom: 3px;
    right: 15px;
}
#member-section .chairman a + br {
    display: block;
}
#info-section0 {
    width: 100%;
    height: auto;
	margin: 15px 0 0 0;
	border-radius: 10px;
    float: none;
}
#info-section0 a {
    line-height: 1;
    height: 70px;
    padding:0;
}
#info-section1 .latest {
    width: auto;
	padding: 0;
}
#info-section1 .latest dt {
    margin: 0;
    position: absolute;
    top: 8px;
	width: 25%;
}
#info-section0 a strong {
    line-height: 1;
    font-size: 1.2rem;
    padding: 5px 0 0 0;
}
#info-section1 .latest dt:nth-child(3) {
	left:25%;
}
#info-section1 .latest dt:nth-child(5) {
	left:50%;
}
#info-section1 .latest dt:nth-child(7) {
	left:75%;
}
#info-section1 .latest dt:nth-child(9) {
	left:0;
	top:58px;
}
#info-section1 .latest dt:nth-child(11) {
	left:25%;
	top:58px;
}
#info-section1 .latest dd ul {
    margin: 0;
    display: block;
	    padding: 0;
        height: 308px;
        overflow: hidden;
}
#info-section1 .latest {
    height: auto;
	margin: 0;
    border-radius: 0;
}

#info-section1 .latest dd {
    position: relative;
    margin: 96px 0 0 0;
    top: 0;
	    padding: 0;
}
#info-section1 .latest dd ul li {
    width: 100%;
	    padding: 10px 8px;
	border:none;
    height: auto;
    margin: 10px 0 0 0;
}
#info-section1 .latest dd ul li a strong {
    max-height: 49px;
    height: auto;
    margin: 0 0 6px 0;
    font-size: 1.3rem;
    color: #252c3a;
    white-space: nowrap;
    display: block;
}
#info-section1 .latest dd ul li a {
    display: block;
    padding: 3px 0 3px;
}
#info-section1 .latest dd ul li a span{
    font-size: 1.3rem;
	margin: 0 0 5px 0;
}
#info-section1 .latest dd ul li a:before{
	content:none;
}
#info-section1 .latest dd ul li:last-child {
    border: none;
}
#info-section1 .latest dt a {
    border-bottom: 2px solid #fff;
}
#info-section1 .latest dt.on a {
    font-size: 1.4rem;
	line-height: 35px;
}
#info-section1 .latest .date {
    font-size: 1.2rem;
}

#sns-area {
    display: block;
}
#sns-area .sns-btns {
    width: 100%;
    display: block;
}
#sns-area .sns-slider {
    width: 100%;
}
#main-area .map-left {
    width: 100%;
    position: relative;
}
.sbanner-wrap h3 {
    font-size: 15px;
    padding: 0 0 15px 0;
}


#main-area .map-right {
    width: auto;
    padding: 0 10px;
    margin: 20px 0 0 0;
}
#main-area .map-left {
    width: 100%;
    border-radius: 0;
    padding:0 0 25px 0;
}
#main-area section .map {
    width: auto;
	margin: 0 10px;
	padding: 15px 0 0 0;
}
#main-area section .map .map-cont {
    transform: scale(0.6);
    display: none;
	margin: 0 auto 0 auto;
    padding: 0;
    height: auto;
        margin-left: -300px;
		
}
#main-area section .map .map-tab {
    font-size: 1.5rem;
    min-width: auto;
    top: 15px;
    width: calc(50% - 3px);
    right: auto;
    left: auto;
    height: 44px;
    line-height: 43px;
    padding: 0;
}
#main-area section .map .map-tab.mtab2 {
    top: 15px;
    right: 0;
    left: auto;
}
#main-area section .map .map-all {
    position: absolute;
    left: 15px;
    top: 54px;
    font-size: 1.4rem;
}
#main-area section {
    display: block;
	padding: 20px 0 35px 0;
}
.map-right .member-search {
        width: auto;
    height: auto;
    padding: 0 0 15px 0;
	margin-bottom: 20px;
	    border-radius: 10px;
}
.map-right .assem-link {
    width: auto;
	padding: 0 0 15px 0;
}
.map-right .assem-link li {
    width: calc(50% - 10px);
}


#visual-section .slide-count,
#live-section .slide-count{
    color: #888989!important;
}
#visual-section .slide-count strong,
#live-section .slide-count strong{
	    font-weight: 400;
    font-size: 15px!important;
}
.live-ctrl {

    justify-content: flex-end;
	
	right: 8px;
    top: -15px;
    width: auto;
    position: relative;
    display: flex;
    height: 25px;
}
#live-section h3{
	font-size:1.5rem;
	line-height: 40px;
	border-radius: 8px 8px 0 0;
	    padding: 0 13px;
}
.live-slider .item a {
    height: 40px;
    line-height: 40px;
    color: #17191d!important;
    font-size: 14px!important;
	padding: 0 15px;
}
#live-section .slide-count {
    right: 93px;
    bottom: 10px;
    padding: 0;
}
#schedule-section .title {
    font-size: 1.8rem;
    width: 100%;
    float: left;
    padding: 5px 0 13px;
    color: #313131;
}
#schedule-section .cont-box{
    width: 100%;
    float: none;
    height: 40px;
    line-height: 1;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 2.0rem;
}
#schedule-section .title span {
    height: 38px;
    padding: 0 18px;
    line-height: 38px;
    font-size: 1.3rem;
    margin-left: 6px;
}
#schedule-section .todo .todo-btn {
    background: #fff;
    padding: 0 0 22px 0;
    border-radius: 0 0 6px 6px
}
#schedule-section .date-week li a,
#schedule-section .date-week li a span{
    font-size:1.4rem;
}
#schedule-section .todo .today-view span{
    font-size:1.8rem;
}
#schedule-section .todo .today-view p{
    font-size:1.4rem;
}
#schedule-section .todo .todo-btn ul li {
    padding: 0 6px;
}
#schedule-section .todo .todo-btn a{
    font-size:1.4rem;
    padding: 0 18px;
    line-height: 38px;
}
#schedule-section .title h3 {
    font-size: 1.5rem;
}
#schedule-section .stat-box{
    clear: both;
    padding: 0;
    position: relative;
    right: auto;
    width: 100%;
}	
#schedule-section .stat-box+.period-link {
    position: relative;
    right: auto;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0;
}
#schedule-section .cont-box .date.thisYear {
    font-size: 1.5rem;
}
#schedule-section .cont-box .date {
    font-size: 1.8rem;
}
	#schedule-section .stat-box p {
    font-size: 1.4rem;
	}
	#schedule-section .period-link li {
    width: calc(50% - 2px);
	    margin: 0;
}
#schedule-section .period-link li:last-child {
    width: calc(50% - 2px);
	    margin: 0;
}
#schedule-section .period-link li a, #schedule-section .period-link li:last-child a {
    font-size: 1.5rem;
	    height: 40px;
line-height: 39px;
border-radius: 5px;
}
#schedule-section .stat-box strong {
    font-size: 15px;
    font-weight: 400;
    color: #050f22;
}
#schedule-section .schedule-info {
    min-height: auto;
	padding: 15px;
}	
#member-section .chairman {
    box-shadow: none;
    min-height: auto;
    border:none;
    border-radius: 10px;
    padding: 0 0 20px 15px;
    margin-top:0;
    height:auto;	
    background: none;
}
#member-section .chairman p {
    font-size: 1.4rem;
    width: auto;
    padding: 0;
    margin: 22px 0 8px 0;
    line-height: 1.6;
}
#member-section .chairman p strong,
#member-section .chairman p b{
	font-size: 1.5rem;
}
#member-section .chairman p br + br{
    display:none;
}
#member-section .chairman a {
    font-size: 1.4rem;
    padding: 0 22px;
    margin: 10px 0 0 0;
    border-radius: 28px;
    height: 28px;
    line-height: 26px;
    min-width: auto;
    text-align: center;
}	

#info-section0 a:before {
    content: '';
    width: 51px;
    background: url(../../images/main/qb_01.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    height: 42px;
    display: block;
    margin: 0 auto;
    top: 0;
}
#info-section0 li:first-child a:before {
    background: url(../../images/main/icons.png) no-repeat;
    background-position: -94px -225px;
    background-size: 355px;
}
#info-section0 li:nth-child(2) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
	background-position:-142px -225px;
}
#info-section0 li:nth-child(3) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
	background-position:-192px -225px;
}
#info-section0 li:nth-child(4) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
	background-position:-240px -225px;
}
#info-section1 .latest .btn-more {
    display: block;
    top: 0;
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 50px;
    left: 13px;
    line-height: 50px;
    width: calc(100% - 2px);
    right: auto;
    left: 0;
    margin: 10px auto 0 auto;
    border-left: 1px solid #ddd!important;
    font-size: 1.5rem;
}
#content .btn-more:before, section .btn-more:before {
    background-position: -55px -168px;
    margin: -6px 0 0 0;

}
#info-section1{
    padding:20px 0 0 0;
}
#info-section1 .latest dl {
    padding: 0 0 0 0;
	background:none;
	position: relative;
}
#info-section1 .latest dt a {
    font-size: 1.5rem;
    padding: 0;
    width: 97%;
    border-bottom: 2px solid #77503b;
	    line-height: 35px;
		    font-size: 14px;
}
#info-section1 .latest dd ul li:nth-child(4){
	display:block;
}
#info-section1 .latest dd ul li:nth-child(3) {
    border-right: none;
}
.sbanner-slider {
    width: 100%;
    height: auto;
}
.sbanner-wrap {
    padding: 15px;
    background: #fffcee;
    border-radius: 16px;
    float: none;
    margin: 20px 0 0 0;
    position: relative;
}
.sbanner-slider .item a {
    height: auto;
    width: auto;
}
.sbanner-ctrl {
    top: 15px;
    right: 0;
}
#main-banner {
    margin: 20px 0 0 0;
}

#main-banner section li a:before {
    background: url(../../images/main/icons.png) no-repeat;
    border-radius: 0;
    background-size: 355px;
    background-position:-6px -6px;
    width: 44px;
    height: 44px;
	margin: 0 auto 5px auto;
}
#main-banner section li:nth-child(2) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-66px -6px;
}
#main-banner section li:nth-child(3) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-123px -3px;
}
#main-banner section li:nth-child(4) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-188px -6px;
}
#main-banner section li:nth-child(5) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-241px -6px;
}
#main-banner section li:nth-child(6) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-300px -6px;
}
#main-banner section li:nth-child(7) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-6px -64px;
}
#main-banner section li:nth-child(8) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-64px -64px;
}
#main-banner section li:nth-child(9) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-123px -64px;
}
#main-banner section li:nth-child(10) a:before {
    background: url(../../images/main/icons.png) no-repeat;
	background-size: 355px;
    background-position:-7px -273px;
}
#main-banner section li {
    height: auto;
	padding:0;
    width: 25%;
}
#main-banner section ul {
    text-align: center;
    padding: 10px 0 20px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#main-banner section li a {
    height: 96px;
    padding: 13px 0;
}
#sns-area h3 {
    font-size: 2.0rem;
	
    font-weight: 500;

}
#sns-area {
    padding:24px 10px 15px 10px;
	    margin: 0;
        box-shadow: none;
}
.sns-ctrl {
	display:none;
}
#sns-area .sns-dlink li {
    display: inline-block;
    padding: 10px 14px 0 0;
}
#sns-area .sns-dlink li a {
    width: auto;
	    padding: 0;
}
#sns-area .sns-slider ul .sns-pic img {
    height: auto;
}
#sns-area .sns-dlink .sns-dlink-nav button{
	display:none;
}
#sns-area .sns-slider .item {
    float: left;
    padding: 0 3px;
    margin-right: 0;
}
#sns-area .sns-slider li a p {
    padding: 10px 0 0 0;
    height: 54px;
}
#sns-area .sns-slider li a {
    min-height: auto;
}
#sns-area .sns-slider .sns-pic img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#sns-area .sns-dlink .sns-dlink-nav a {
    width: 28px;
    height: 28px;
}
.sns-cont {
    margin: 0 0 0 0;
}
.sns-cont.sns-show {
    margin: 25px 0 0 0;
}
#sns-area .sns-dlink li.on a {
    border-radius: 5px;
    padding-right: 25px;
    width: 124px;
    font-size: 1.3rem;
}
#sns-area .sns-dlink li button {
    right: 17px;
    top: 14px;
    width: 20px;
    height: 20px;
}
#sns-area .sns-slider ul {
    display: flex;
    justify-content: space-between;
	    flex-wrap: wrap;
}
#sns-area .sns-slider ul li {
    display: inline-block;
    width: calc(50% - 5px);
	    margin: 0 0 50px 0;
}
#sns-area .sns-slider ul li a p {
    font-size: 1.4rem;
    margin: 0 0 8px 0;
    padding: 10px 0 0 0;
    display: -webkit-box;
    max-height: 59px;
    color: #252c3a;
}
#sns-area .sns-slider ul li a span {
    font-size: 1.3rem;
	    padding: 0 ;
		color: #585858;
}
#sns-area .sns-slider ul .sns-pic {
    width: auto;
}
#sns-area .sns-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
	    margin: 0;
}
#sns-area .sns-slider ul li a {
    display: block;
    background: #fff;
    box-shadow: none;
	min-height: 200px;
	
}
.sns-dlink-nav{
	    display: inline-block;
    width: auto;
	vertical-align: middle;
}
#sns-area .direct-link{
	    display: inline-block;
		border:none;
		margin:0;
		padding:0;
		    vertical-align: middle;
}
#sns-area .direct-link li{
		margin:0;
		
}
#sns-area .sns-dlink li a:before,
#sns-area .direct-link li a:before{
    content: '';
    display: inline-block;
    width: 28px;
    height: 32px;
    background: url(../../images/main/youtube_32.png) no-repeat;
	vertical-align: middle;
    margin: 0 10px 0 0;
}

#sns-area .sns-dlink li:nth-child(1) a:before{
	background: url(../../images/main/youtube_32.png) no-repeat;
	background-size:100%;
}
#sns-area .sns-dlink li:nth-child(2) a:before{
	background: url(../../images/main/facebook_32.png) no-repeat;
	background-size:100%;
}
#sns-area .sns-dlink li:nth-child(3) a:before{
	background: url(../../images/main/insta_32.png) no-repeat;
	background-size:100%;
}
#sns-area .sns-dlink li:nth-child(4) a:before{
	background: url(../../images/main/blog_32.png) no-repeat;
	background-size:100%;
}
#sns-area .sns-dlink li:nth-child(5) a:before{
	background: url(../../images/main/twitter_32.png) no-repeat;
	background-size:100%;
}

#sns-area .sns-dlink .slick-current:before, #sns-area .sns-dlink .slick-current:after{
	content:none;
}
.sns-cont .m-ctrl {
    position: absolute;
    right: 0;
    top: -98px;
}
.slide-count {
    font-size: 1.3rem;
    letter-spacing: 2px;
    right: 72px;
    bottom: 1px;
}
.slide-count strong {
    font-size: 15px!important;
    font-weight: 400;
}

#sns-area .sns-dlink {
    clear: both;
    padding: 12px 0 0 0;
}
#sns-area .sns-btns>p {
    font-size: 1.5rem;
    margin: 12px 0 0 0;
}
#sns-area .sns-btns>p br{
	display:none;
}
.map-right .member-search li a {
    display: block;
    padding: 0 16px;
    font-size: 1.5rem;
    text-align: center;
    height: 40px;
    line-height: 39px;
    font-weight: 300;
}
.map-right .member-search ul {
        padding: 0;
    clear: both;
    margin: 0 0 15px 0;
    clear: both;
    margin: 0 0 15px 0;
}
.map-right .member-search input {
    margin: 0 10px 0 0;
    border: 1px solid #5e4938;
    height: 40px;
    vertical-align: middle;
    float: left;
    width: calc(100% - 73px);
    border-radius: 6px;
    font-size: 1.5rem;
    color: #585858;
    font-weight: 300;
    text-indent: 20px;
}
.map-right .member-search button {
    color: #fff;
    font-size: 1.6rem;
    border: none;
    border-radius: 6px;
    height: 40px;
    background: #5e4938;
    padding: 0 12px;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    float: left;
    width: 20%;
}
#main-media section>p br{
	display:block;
}
.map-right .assem-link ul {
    margin: 18px 0 0 0;
}
.map-right .assem-link li a {
    font-size: 1.4rem;
}
.map-right .assem-link h3 {
    color: #313131;
    font-weight: 400;
    font-size: 17px;
    margin: 15px 0 15px 0;
}
.map-right .member-search fieldset {
    margin-top: 0;
    padding: 0;
}
.assem-link .btn-more{
    right: 0;
    left: auto;
    font-size: 1.6rem;
}
#main-media section h2 {
    font-weight: 400;
    font-size:18px;
	padding: 0 0 8px 0;
}
#main-media section>p {
        font-size: 16px;
    text-align: center;
    color: #17191d;
    margin: 0 0 29px 0;
    font-weight: 400;
    width: auto;
	padding: 0 15px;
	word-break: keep-all;
}
#main-media .media-list h3 a {
    color: #969696;
    font-size: 1.5rem;
    padding: 0 21px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    background: #fff;
    display: inline-block;
    font-weight: 400;
}
#main-media .media-list h3.tab2 {
    left: 115px;
}
#main-media .media-list .tab-cont li {
    text-align: left;
    width: auto;
    margin:0 5px 26px 0;
    width: calc(50% - 5px);
    height: auto;
}
#main-media .media-list .tab-cont ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-media .media-list .tab-cont .media-pic {
    width: auto;
	border-radius: 10px;
}
#main-area section .member-list dl {
    width: auto;
	    height: 112px;
	padding: 16px 0 0 65px;
}
#main-area section .member-list dt {
    font-size: 15px;
}
#main-area section .member-list dd {
font-size: 13px;
}
#main-area section .member-list {
    width: calc(100% + 5px);
    height: 112px;
    float: none;
    overflow: hidden;
	    margin: -39px 0 0 0;
		padding:0 10px;

}
#main-area section .member-list dt a:after {
    right: 7px;
    top: 15px;
	width:20px;
	height:20px;
    background-size: 50%;
}
#main-area section .member-list .slick-list{
	overflow:hidden;
}
#main-area section .member-list dl img {
    width: 45px;
    height: 45px;
}
#main-area section .member-list li {
    margin: 0 5px 10px 0;
	width: calc(50% - 2.5px);
}
#main-area section .member-list li:nth-child(2n){
	margin: 0 5px 10px 0;
}
#main-area section .member-list li:nth-child(3n){
	margin: 0 5px 10px 0;
}
#main-media .media-list .tab-cont {
    padding: 57px 0 0 0;
}
#main-media .media-list .tab-cont .media-all {
    top: -17px;
}
#main-media .media-list .tab-cont {
    padding: 62px 0 0 0;
}
.member-ctrl {
    position: absolute;
    right: 0;
    margin: -72px 18px 0 0;
}
.map-left .btn-more {
    bottom: auto;
    display: block;
    top: 0;
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    width: auto;
    right: 0;
    left: 0;
    margin: 10px 10px 0 10px;
    background:#fff;
    border-left: 1px solid #ddd!important;
}
#main-media .media-list .tab-cont .media-all {
    top: auto;
    position: relative;
    padding: 0;
    width: 100%;
    padding: 0 0 20px 0;
}

#main-media .media-list .tab-cont .media-all a {
    top: -3px;
    right: 0;
    bottom: auto;
    display: block;
    top: 0;
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    width: auto;
    right: 0;
    left: 0;
    margin: 0;
    border-left: 1px solid #ddd!important;
    background: #fff;
	font-size:16px;
}
.map-right .member-search h3 {
    font-size: 17px;
    margin: 15px 0 15px 0;
    font-weight: 400;
    color: #313131;
}
.sns-dlink-nav.slick-slider .slick-list,
.sns-dlink-nav.slick-slider .slick-track{
	height:auto!important;
	
}
#main-media .media-list .tab-cont li span {
    font-size: 1.2rem;
}




}

@media only all and (max-width: 415px){
	


}